In [1]:
import streamlit as st
import numpy as np
import pandas as pd
import numpy as np
import requests
import json
import os
import datetime
import dotenv 

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [ ]:
    #     dotenv.load_dotenv()
    #     api_key_google = os.getenv('api_key') 
    #     gmaps = googlemaps.Client(key=api_key_google)

    #     params = {
    #     'origin': selected_starting_point,
    #     'destination': selected_destination,
    #     'mode': 'driving',  # You can change this to 'walking', 'bicycling', or 'transit'
    #     'alternatives': True,  # If you want alternative routes
    #     'avoid': None,  # You can specify features to avoid, e.g., 'tolls', 'highways'
    #     'language': 'en',  # Language for the results
    #     'units': 'imperial',  # Use 'metric' for metric units
    #     'departure_time': selected_departure,  
    # }

        # try:
        #     directions = gmaps.directions(**params)
        # except googlemaps.exceptions.ApiError as e:
        #     st.error(f"Google Maps API Error: {e}")
        #     return

        # route_df = pd.json_normalize(directions[0], record_path=['legs', 'steps'])

        # route_df['time_in_minutes'] = round(route_df['duration.value']/60, 0)
        # route_df['time_in_minutes'] = route_df['time_in_minutes'].astype('int')
        # route_df['cumulative_time'] = route_df['time_in_minutes'].cumsum()

        # route_df['date_time'] = route_df['cumulative_time'].apply(lambda x: selected_departure + timedelta(minutes=x))
        # route_df['date_time'] = route_df['date_time'].apply(lambda x: x.replace(minute=0, second=0, microsecond=0))

        # max_time = route_df['cumulative_time'].iloc[(len(route_df)-1)]
        # desired_val = list(range(0,max_time+60, 60))

        # route_df[['end_location.lat', 'end_location.lng', 'cumulative_time', 'date_time']]

        # closest_rows = (route_df.loc[[abs(route_df['cumulative_time'] - hour).idxmin() for hour in desired_val]]).reset_index()
        # #st.text(closest_rows)

        #return closest_rows

In [8]:
r = requests.get('https://httpbin.org/user-agent')
useragent = json.loads(r.text)['user-agent']
headers = {'User-agent': useragent}

In [77]:
import googlemaps
from datetime import datetime, timedelta
import dotenv
import json
import pandas as pd

dotenv.load_dotenv()
api_key_google = os.getenv('api_key') 

gmaps = googlemaps.Client(key=api_key_google)

# Define the origin and destination
origin = "Richmond, VA"
destination = "Pittsburgh, PA"

# Define parameters for the directions request
params = {
    'origin': origin,
    'destination': destination,
    'mode': 'driving',  # You can change this to 'walking', 'bicycling', or 'transit'
    'alternatives': True,  # If you want alternative routes
    'avoid': None,  # You can specify features to avoid, e.g., 'tolls', 'highways'
    'language': 'en',  # Language for the results
    'units': 'imperial',  # Use 'metric' for metric units
    'departure_time': datetime.now(),  # Use the current time as the departure time
}

# Fetch directions
directions = gmaps.directions(**params)

# Check if directions were returned
if directions:
    # Print the total number of routes found
    print(f'Total routes found: {len(directions)}')
    
    for idx, route in enumerate(directions):
        print(f"\nRoute {idx + 1}:")
        print(f"  Distance: {route['legs'][0]['distance']['text']}")
        print(f"  Duration: {route['legs'][0]['duration']['text']}")
        print(f"  Start Address: {route['legs'][0]['start_address']}")
        print(f"  End Address: {route['legs'][0]['end_address']}")
        
        print("\n  Directions:")
        for step in route['legs'][0]['steps']:
            print(f"    - {step['html_instructions']} (Approx. {step['duration']['text']})")
else:
    print("No directions found.")

Total routes found: 3

Route 1:
  Distance: 345 mi
  Duration: 5 hours 22 mins
  Start Address: Richmond, VA, USA
  End Address: Pittsburgh, PA, USA

  Directions:
    - Head <b>northwest</b> on <b>E Grace St</b> toward <b>N 7th St</b> (Approx. 1 min)
    - Turn <b>right</b> at the 1st cross street onto <b>N 7th St</b> (Approx. 2 mins)
    - Slight <b>right</b> onto the <b>I-64 W</b>/<wbr/><b>I-95 N</b> ramp (Approx. 1 min)
    - Merge onto <b>I-95 N</b> (Approx. 4 mins)
    - Keep <b>left</b> to stay on <b>I-95 N</b> (Approx. 49 mins)
    - Slight <b>left</b> (Approx. 1 min)
    - Continue onto <b>I-95 Express Lanes</b><div style="font-size:0.9em">Toll road</div><div style="font-size:0.9em">May be closed at certain times or days</div> (Approx. 7 mins)
    - Continue onto <b>I-95 Express Lanes</b><div style="font-size:0.9em">Toll road</div><div style="font-size:0.9em">May be closed at certain times or days</div> (Approx. 22 mins)
    - Take the <b>I-95 N</b>/<wbr/><b>I-495</b> exit toward <b>Baltimore</b>/<wbr/><b>Tysons Corner</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - At the interchange <b>I-495 N</b>, follow signs for <b>Tyson Cor</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - Merge onto <b>I-495 N</b> (Approx. 10 mins)
    - Keep <b>right</b> to stay on <b>I-495 N</b><div style="font-size:0.9em">Entering Maryland</div> (Approx. 8 mins)
    - Slight <b>left</b> onto <b>I-270 Spur N</b> (signs for <b>I-270</b>) (Approx. 2 mins)
    - Continue onto <b>I-270 N</b> (Approx. 27 mins)
    - Take exit <b>32</b> to merge onto <b>I-70 W</b> toward <b>Hagerstown</b><div style="font-size:0.9em">Entering Pennsylvania</div> (Approx. 1 hour 10 mins)
    - Take the <b>US-30 E</b> exit toward <b>I-70 W</b>/<wbr/><b>Harrisburg</b>/<wbr/><b>McConnellsburg</b>/<wbr/><b>New Stanton</b>/<wbr/><b>Pennsylvania Turnpike</b> (Approx. 1 min)
    - Turn <b>right</b> onto <b>US-30 E</b>/<wbr/><b>S Main St</b> (Approx. 1 min)
    - Turn <b>right</b> onto the ramp to <b>Harrisburg</b>/<wbr/><b>New Stanton</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - Continue onto <b>I-70 W</b><div style="font-size:0.9em">Toll road</div> (Approx. 2 mins)
    - Take the exit onto <b>I-70 W</b>/<wbr/><b>I-76 W</b> toward <b>Pittsburgh</b><div style="font-size:0.9em">Continue to follow I-76 W</div><div style="font-size:0.9em">Toll road</div> (Approx. 1 hour 36 mins)
    - Take the exit toward <b>I-376 W</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - Continue onto <b>I-376 W</b> (Approx. 15 mins)
    - Take exit <b>71A</b> on the <b>left</b> for <b>Grant St</b> (Approx. 1 min)
    - Slight <b>right</b> onto <b>Grant St</b> (Approx. 2 mins)
    - Continue straight to stay on <b>Grant St</b> (Approx. 1 min)

Route 2:
  Distance: 344 mi
  Duration: 5 hours 26 mins
  Start Address: Richmond, VA, USA
  End Address: Pittsburgh, PA, USA

  Directions:
    - Head <b>northwest</b> on <b>E Grace St</b> toward <b>N 7th St</b> (Approx. 1 min)
    - Turn <b>right</b> at the 1st cross street onto <b>N 7th St</b> (Approx. 2 mins)
    - Slight <b>right</b> onto the <b>I-64 W</b>/<wbr/><b>I-95 N</b> ramp (Approx. 1 min)
    - Merge onto <b>I-95 N</b> (Approx. 4 mins)
    - Keep <b>left</b> to stay on <b>I-95 N</b> (Approx. 57 mins)
    - Continue onto <b>I-95 N</b> (Approx. 24 mins)
    - Keep <b>right</b> to continue on <b>I-395 N</b>, follow signs for <b>Washington</b>/<wbr/><b>I-495 N</b>/<wbr/><b>Tysons Corner</b> (Approx. 1 min)
    - Take exit <b>170B</b> to merge onto <b>I-495 N</b> toward <b>Tysons Corner</b> (Approx. 12 mins)
    - Keep <b>right</b> to stay on <b>I-495 N</b><div style="font-size:0.9em">Entering Maryland</div> (Approx. 8 mins)
    - Slight <b>left</b> onto <b>I-270 Spur N</b> (signs for <b>I-270</b>) (Approx. 2 mins)
    - Continue onto <b>I-270 N</b> (Approx. 27 mins)
    - Take exit <b>32</b> to merge onto <b>I-70 W</b> toward <b>Hagerstown</b><div style="font-size:0.9em">Entering Pennsylvania</div> (Approx. 1 hour 10 mins)
    - Take the <b>US-30 E</b> exit toward <b>I-70 W</b>/<wbr/><b>Harrisburg</b>/<wbr/><b>McConnellsburg</b>/<wbr/><b>New Stanton</b>/<wbr/><b>Pennsylvania Turnpike</b> (Approx. 1 min)
    - Turn <b>right</b> onto <b>US-30 E</b>/<wbr/><b>S Main St</b> (Approx. 1 min)
    - Turn <b>right</b> onto the ramp to <b>Harrisburg</b>/<wbr/><b>New Stanton</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - Continue onto <b>I-70 W</b><div style="font-size:0.9em">Toll road</div> (Approx. 2 mins)
    - Take the exit onto <b>I-70 W</b>/<wbr/><b>I-76 W</b> toward <b>Pittsburgh</b><div style="font-size:0.9em">Continue to follow I-76 W</div><div style="font-size:0.9em">Toll road</div> (Approx. 1 hour 36 mins)
    - Take the exit toward <b>I-376 W</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - Continue onto <b>I-376 W</b> (Approx. 15 mins)
    - Take exit <b>71A</b> on the <b>left</b> for <b>Grant St</b> (Approx. 1 min)
    - Slight <b>right</b> onto <b>Grant St</b> (Approx. 2 mins)
    - Continue straight to stay on <b>Grant St</b> (Approx. 1 min)

Route 3:
  Distance: 336 mi
  Duration: 5 hours 41 mins
  Start Address: Richmond, VA, USA
  End Address: Pittsburgh, PA, USA

  Directions:
    - Head <b>northwest</b> on <b>E Grace St</b> toward <b>N 7th St</b> (Approx. 1 min)
    - Turn <b>right</b> at the 1st cross street onto <b>N 7th St</b> (Approx. 2 mins)
    - Slight <b>right</b> onto the <b>I-64 W</b>/<wbr/><b>I-95 N</b> ramp (Approx. 1 min)
    - Merge onto <b>I-95 N</b> (Approx. 4 mins)
    - Keep <b>left</b> to stay on <b>I-95 N</b> (Approx. 46 mins)
    - Take the exit toward <b>US-17 BUS N</b>/<wbr/><b>Warrenton Rd</b> (Approx. 1 min)
    - Take the <b>Exit 133</b>/<wbr/><b>U.S.17 N</b>/<wbr/><b>US-17BUS S</b>/<wbr/><b>Warrenton</b> exit toward <b>Falmouth</b> (Approx. 1 min)
    - Turn <b>left</b> onto <b>US-17 BUS N</b>/<wbr/><b>Warrenton Rd</b><div style="font-size:0.9em">Continue to follow Warrenton Rd</div><div style="font-size:0.9em">Pass by Taco Bell (on the right in 1.2 mi)</div> (Approx. 16 mins)
    - Continue onto <b>US-17 N</b>/<wbr/><b>Marsh Rd</b><div style="font-size:0.9em">Continue to follow Marsh Rd</div><div style="font-size:0.9em">Pass by Subway (on the right in 11 mi)</div> (Approx. 16 mins)
    - Turn <b>right</b> onto <b>US-15 N</b>/<wbr/><b>US-17 N</b>/<wbr/><b>US-29 N</b> (Approx. 7 mins)
    - Slight <b>right</b> onto <b>US-17 N</b> (Approx. 1 min)
    - Slight <b>left</b> onto <b>US-17 N</b>/<wbr/><b>Spur 8</b> (Approx. 2 mins)
    - Continue onto <b>US-17 N</b> (Approx. 11 mins)
    - Turn <b>left</b> to merge onto <b>I-66 W</b>/<wbr/><b>US-17 N</b> toward <b>VA-55 W</b>/<wbr/><b>Strasburg</b>/<wbr/><b>Winchester</b><div style="font-size:0.9em">Continue to follow I-66 W</div> (Approx. 24 mins)
    - Take exit <b>1B</b> to merge onto <b>I-81 N</b> toward <b>Winchester</b> (Approx. 8 mins)
    - Take exit <b>310</b> toward <b>VA-37 N</b> (Approx. 1 min)
    - Turn <b>left</b> onto <b>VA-37 N</b> (Approx. 7 mins)
    - Take the <b>US-522</b> ramp to <b>Winchester</b>/<wbr/><b>Berkeley Springs</b> (Approx. 1 min)
    - Turn <b>left</b> onto <b>US-522 N</b><div style="font-size:0.9em">Entering West Virginia</div> (Approx. 35 mins)
    - At the traffic circle, take the <b>1st</b> exit and stay on <b>US-522 N</b><div style="font-size:0.9em">Pass by Dairy Queen Grill &amp; Chill (on the left in 0.6 mi)</div><div style="font-size:0.9em">Entering Maryland</div> (Approx. 13 mins)
    - Merge onto <b>I-70 W</b>/<wbr/><b>US-40 W</b>/<wbr/><b>US-522 N</b> via the ramp to <b>I-68 W</b>/<wbr/><b>Cumberland</b>/<wbr/><b>Breezewood</b><div style="font-size:0.9em">Continue to follow I-70 W</div><div style="font-size:0.9em">Entering Pennsylvania</div> (Approx. 25 mins)
    - Take the <b>US-30 E</b> exit toward <b>I-70 W</b>/<wbr/><b>Harrisburg</b>/<wbr/><b>McConnellsburg</b>/<wbr/><b>New Stanton</b>/<wbr/><b>Pennsylvania Turnpike</b> (Approx. 1 min)
    - Turn <b>right</b> onto <b>US-30 E</b>/<wbr/><b>S Main St</b> (Approx. 1 min)
    - Turn <b>right</b> onto the ramp to <b>Harrisburg</b>/<wbr/><b>New Stanton</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - Continue onto <b>I-70 W</b><div style="font-size:0.9em">Toll road</div> (Approx. 2 mins)
    - Take the exit onto <b>I-70 W</b>/<wbr/><b>I-76 W</b> toward <b>Pittsburgh</b><div style="font-size:0.9em">Continue to follow I-76 W</div><div style="font-size:0.9em">Toll road</div> (Approx. 1 hour 36 mins)
    - Take the exit toward <b>I-376 W</b><div style="font-size:0.9em">Toll road</div> (Approx. 1 min)
    - Continue onto <b>I-376 W</b> (Approx. 15 mins)
    - Take exit <b>71A</b> on the <b>left</b> for <b>Grant St</b> (Approx. 1 min)
    - Slight <b>right</b> onto <b>Grant St</b> (Approx. 2 mins)
    - Continue straight to stay on <b>Grant St</b> (Approx. 1 min)

In [83]:
news_df = pd.json_normalize(directions[0], record_path=['legs', 'steps'])

news_df['time_in_minutes'] = round(news_df['duration.value']/60, 0)
news_df['time_in_minutes'] = news_df['time_in_minutes'].astype('int')
news_df['cumulative_time'] = news_df['time_in_minutes'].cumsum()

news_df['date_time'] = news_df['cumulative_time'].apply(lambda x: datetime.now() + timedelta(minutes=x))
news_df['date_time'] = news_df['date_time'].apply(lambda x: x.replace(minute=0, second=0, microsecond=0))

max_time = news_df['cumulative_time'].iloc[(len(news_df)-1)]

desired_val = list(range(0,max_time+60, 60))
news_df1 = news_df[['end_location.lat', 'end_location.lng', 'cumulative_time', 'date_time']]
closest_rows = (news_df1.loc[[abs(news_df1['cumulative_time'] - hour).idxmin() for hour in desired_val]]).reset_index()

In [86]:
news_df

,html_instructions,travel_mode,distance.text,distance.value,duration.text,duration.value,end_location.lat,end_location.lng,polyline.points,start_location.lat,start_location.lng,maneuver,time_in_minutes,cumulative_time,date_time
0,Head <b>northwest</b> on <b>E Grace St</b> tow...,DRIVING,161 ft,49,1 min,11,37.541017,-77.436471,udcdFbfswMCDq@rA,37.540754,-77.436020,NaN,0,0,2024-10-20 19:00:00
1,Turn <b>right</b> at the 1st cross street onto...,DRIVING,0.6 mi,939,2 mins,133,37.547736,-77.430052,kfcdF|hswMwAuA[Yi@g@UUwAoASQu@s@q@m@W]e@e@yAwA...,37.541017,-77.436471,turn-right,2,2,2024-10-20 19:00:00
2,Slight <b>right</b> onto the <b>I-64 W</b>/<wb...,DRIVING,0.2 mi,347,1 min,32,37.547750,-77.431249,kpddFx`rwMa@kAEe@?K?E@I@CBKDK@CBEDEJEDC@?HA@?L...,37.547736,-77.430052,ramp-right,1,3,2024-10-20 19:00:00
3,Merge onto <b>I-95 N</b>,DRIVING,3.4 mi,5482,4 mins,218,37.581473,-77.469396,mpddFhhrwM_@t@e@~@Yh@q@rAMT]r@Ub@KRMVMTINADMTK...,37.547750,-77.431249,merge,4,7,2024-10-20 19:00:00
4,Keep <b>left</b> to stay on <b>I-95 N</b>,DRIVING,55.4 mi,89121,49 mins,2911,38.347349,-77.483722,eckdFvvywM_@LQDUH}@To@LOBWDQBI@M@A?K@I@UBS@_@B...,37.581473,-77.469396,keep-left,49,56,2024-10-20 20:00:00
5,Slight <b>left</b>,DRIVING,0.1 mi,234,1 min,7,38.349003,-77.482086,}u`iFfp|wMOCA?SWg@i@EGA?UWCCqBqB[[?AkAkA,38.347349,-77.483722,turn-slight-left,0,56,2024-10-20 20:00:00
6,Continue onto <b>I-95 Express Lanes</b><div st...,DRIVING,9.1 mi,14713,7 mins,435,38.463491,-77.408396,g`aiF`f|wMOO{AgBkByBs@y@q@u@u@_ACCUYCEUY]c@EGS...,38.349003,-77.482086,NaN,7,63,2024-10-20 20:00:00
7,Continue onto <b>I-95 Express Lanes</b><div st...,DRIVING,26.9 mi,43214,22 mins,1337,38.788942,-77.176814,ykwiFnymwMiBg@OEq@UEAMEOEAA]Ma@OUIsAk@YMs@YUM]...,38.463491,-77.408396,NaN,22,85,2024-10-20 21:00:00
8,Take the <b>I-95 N</b>/<wbr/><b>I-495</b> exit...,DRIVING,0.5 mi,796,1 min,36,38.792299,-77.170960,{}vkF`r`vMIM?AQG]Kc@S[OYO[QKG_@WGECCQMWSGEWUYY...,38.788942,-77.176814,ramp-right,1,86,2024-10-20 21:00:00
9,"At the interchange <b>I-495 N</b>, follow sign...",DRIVING,0.9 mi,1497,1 min,63,38.795069,-77.185837,{rwkFnm_vMTA\CB?L?@?@?B?JBRB@?JDLB@@@?FDJDJHJH...,38.792299,-77.170960,ramp,1,87,2024-10-20 21:00:00
10,Merge onto <b>I-495 N</b>,DRIVING,10.3 mi,16613,10 mins,623,38.926201,-77.213527,edxkFnjbvMS|@S~@GXGXGXGPI`@GVWlAg@`CGXGXGXKj@c...,38.795069,-77.185837,merge,10,97,2024-10-20 21:00:00
11,Keep <b>right</b> to stay on <b>I-495 N</b><di...,DRIVING,7.0 mi,11243,8 mins,473,39.006961,-77.152979,wwqlFpwgvMg@YWOEACAOIqDoBQK_BaACCGEECA?AAGEIGK...,38.926201,-77.213527,keep-right,8,105,2024-10-20 21:00:00
12,Slight <b>left</b> onto <b>I-270 Spur N</b> (s...,DRIVING,2.3 mi,3681,2 mins,138,39.037024,-77.144951,opamFb}{uMO@A?a@Mi@UWMcAe@oAm@a@UUM_Ai@uBoASMQ...,39.006961,-77.152979,turn-slight-left,2,107,2024-10-20 21:00:00
13,Continue onto <b>I-270 N</b>,DRIVING,29.1 mi,46864,27 mins,1628,39.391039,-77.417711,klgmF|jzuMWLQHWJ_@Ps@ZIBOHQFGBKD_@Py@^IBIDsAh@...,39.037024,-77.144951,NaN,27,134,2024-10-20 22:00:00
14,Take exit <b>32</b> to merge onto <b>I-70 W</b...,DRIVING,76.7 mi,123378,1 hour 10 mins,4205,39.998866,-78.238898,_qloFtsowMa@D?@_@V]XA@{@j@c@XWRa@T[NUNa@TcAh@O...,39.391039,-77.417711,ramp-right,70,204,2024-10-20 23:00:00
15,Take the <b>US-30 E</b> exit toward <b>I-70 W<...,DRIVING,312 ft,95,1 min,16,39.999446,-78.238130,}gcsFb`p|Ms@i@GGEGGIKWK_@CMCEACGE,39.998866,-78.238898,ramp-right,0,204,2024-10-20 23:00:00
16,Turn <b>right</b> onto <b>US-30 E</b>/<wbr/><b...,DRIVING,0.2 mi,318,1 min,42,39.999389,-78.234406,qkcsFh{o|M@[@U@oBDeCBqB?e@?g@?Q?m@?e@?WAk@AO?m...,39.999446,-78.238130,turn-right,1,205,2024-10-20 23:00:00
17,Turn <b>right</b> onto the ramp to <b>Harrisbu...,DRIVING,397 ft,121,1 min,10,39.998568,-78.233710,ekcsF`do|MNM?A@E?E@G@I@G@E@E?A@A?C@EBGBEBEBCBC...,39.999389,-78.234406,ramp-right,0,205,2024-10-20 23:00:00
18,"Continue onto <b>I-70 W</b><div style=""font-si...",DRIVING,1.5 mi,2412,2 mins,125,39.988968,-78.255108,afcsFt_o|MPCHAT?@?RARAT?TATAJ?F?TATAR?@?RAV?J?...,39.998568,-78.233710,NaN,2,207,2024-10-20 23:00:00
19,Take the exit onto <b>I-70 W</b>/<wbr/><b>I-76...,DRIVING,105 mi,169270,1 hour 36 mins,5733,40.434320,-79.748054,ajasFles|MJV@B@DHRBHBFHTHPDJBHFPZv@@DHPb@jABDN...,39.988968,-78.255108,ramp,96,303,2024-10-21 00:00:00
20,Take the exit toward <b>I-376 W</b><div style=...,DRIVING,0.8 mi,1347,1 min,88,40.440168,-79.756817,oixuFhxveNQAMDC@IBG@G?A?M@M?OAGAKCGAMG_@Ss@m@O...,40.434320,-79.748054,ramp-right,1,304,2024-10-21 00:00:00
21,Continue onto <b>I-376 W</b>,DRIVING,13.6 mi,21810,15 mins,876,40.434293,-79.995774,anyuFboxeNKfC?JCh@GlAGvAEn@Cp@ATCTC\CPAHIXCHEJ...,40.440168,-79.756817,NaN,15,319,2024-10-21 01:00:00
22,Take exit <b>71A</b> on the <b>left</b> for <b...,DRIVING,0.2 mi,363,1 min,36,40.436033,-79.999032,iixuFpdggND\?@]~Be@tBI\ITUj@AFO`@GPKRCFCHWj@KV...,40.434293,-79.995774,ramp-left,1,320,2024-10-21 01:00:00
23,Slight <b>right</b> onto <b>Grant St</b>,DRIVING,0.2 mi,332,2 mins,93,40.438683,-79.997221,etxuF|xggN_@UMI]WUOKGOK_@U_@UOIKIa@Sk@YgBgAq@a...,40.436033,-79.999032,turn-slight-right,2,322,2024-10-21 01:00:00
24,Continue straight to stay on <b>Grant St</b>,DRIVING,0.2 mi,244,1 min,69,40.440635,-79.995913,wdyuFrmggN_@UQKKG_@UUMUOUKUOWOkAq@OKUM_@U_@UGC,40.438683,-79.997221,straight,1,323,2024-10-21 01:00:00

In [88]:
news_df.iloc[19]['polyline.points']

'ajasFles|MJV@B@DHRBHBFHTHPDJBHFPZv@@DHPb@jABDNb@FPBBXr@BJFLJXBFFLBHFNFNDLDLFPBHFPDRBHDJBN@@Jj@DN?@DVBRDZBPD\\Jt@JhAPxABVLVD\\BXB^DXBZDZDZD^@J@JFZDZDZDXDZDXFZDZF\\DXDTF^Lv@?BDRFZFZDXFXFZFZDXFXFZLp@FZFZFXFZF`@DNF\\FZDXFXFXDXBJPbAH\\DXFZFVDZFZFXDXFZFZ?@FXDP@FDXFXFZFZDXFZDVFXFZBLJj@F\\Lj@Nv@?@F\\FXFZTlANv@FTDT@DF\\FXDTFZDR?BPv@F\\F\\DVDXFZDZFZ@LBLBXF\\NtAHfA@FDf@Dr@Dr@Dv@Bx@@t@Bx@@v@?v@?X?f@AhA?V?D?d@?lAAv@?\\?\\?H?R?nAAz@?x@?@?t@?|@ApA?`@?l@?^?\\Ap@?^?j@?L?^A\\?VAX?`@Ct@Cl@ATCd@Ef@IbAGf@Gl@Ih@Il@Kr@GZEXI\\S~@EREPIV?BMb@Md@KZITK\\Sr@Up@KZ?BQf@IVIVK^_@hASr@IVKXSp@Ql@K^Qp@Qr@GXMl@I`@Mv@Kp@EVEZAHMfA?DCT?@CZCXADCZAVCZAZCj@EfA?XAb@Cp@AZIvC?VAVCv@AZCtAAZAZA\\AZAZCx@?ZA^AXCv@Al@Cn@Cn@Cl@AHA\\CXC\\EZCZEXCTAFEZAFEVETEXAHEPABETET?@IZIXI\\GTIXKXIVIVKXM\\GRCDGNIXKVKVKXIVKVIXWn@IXWn@Up@IVO^GPKVADGPUp@KVKVOd@Qb@ABGRIRABIXa@fAIRADITEJQd@IVGPGNKVEPKT?@KVIVIXCHA@ELAFGRGTIXAHENIZEXCFCNEZG^ETEZCZEV?FCTCZCZCl@AF?@AZAX?^AZ?X?b@?VAd@?jA?v@AjD?Z?Z?z@?t@A`A?V?\\?Z?Z?\\?Z?F?R?ZAZ?\\?ZAZ?NAJAZA\\CZAZCZEZCZEXGZEZGXGZGZGVIV?BIVIVIXKVKVKXKTKVKVKTMTKXKTMVKTKVKTCFINKTKVKVMVKTKVMVGPABMVMXKTKTKVKVMVKTEHELKTMVKVKTMVKVKVKTMVKTKVMVKVKTABIRMTKVKVe@bAMXKTUj@ABe@dAKTEHGLKTKVc@fAKVCHGLKXIVIXGTKZGV?@IZGVIZEXGZGVAFCTGXEZEXCZEZCZEZCZEZCZEZIz@CTCZEZCZEZCZE\\CXEZCZEZCZADCTEZCZGZEXEZGXGZGVGXIXGVIXIVKXIVKVKVKTKVA@OZKRMVMRIPCDMTMTMROVKRA?MVMRKRMVMTKTIPCDKVKVKVKXIVIVCDERIVIXGXGXGZGXGXEZEZGXEZEXEZEZ?BEVCRADEZEZEZCNAHEZGZEXEZEXEZEZEZEXEZEZEXEXE\\CJALEZGXCTADEZEZEXEZEZEXEZEXEZEZEXGZEZEZEZEXEZEZEXADCTEXE\\EXEZEZCZEX?JCPCXC\\AZCZAVA^AZ?R?HAZ?Z?\\?Z?Z@Z?\\?D@T@ZBZ?@@V@V@T?@Bf@@N@J@ZB\\@Z@ZBZ@ZDx@BZ@ZB\\@ZBZ?D@TB\\@XBZ@\\B\\@XBZ@\\@ZBZ@ZBZ@\\BZ@ZBZ@ZBZ@\\BZ@ZBZ@\\BX@\\@ZBZ@Z@\\?Z@Z@\\?Z?Z?\\?ZA\\?ZAX?XAF?R?DAZCZA\\CZAZCZCZEZCZCZEZEZCZA@EVEZEZGXEZCJCNEXGXEZERADGZEZGZEXGXGZEXGZEXEXA@EXGZEXGZEXGZGZAJCLGZEXEZEXEZGZCXEZEZCZCZEZCZCZCXC\\CZATC`@AXA\\CZAZAZC\\AXAZA\\CZAZAZAZCZAZAZA\\CZAZAZAZAFATAV?BAZCZA\\AXAZCZEtACZAZA\\CZ?JANAZA\\CXA\\AZAZCZA\\AZAZALALAV?HCr@CZAZA\\AXC\\AZAZAZATADA\\AZCZAZAZCZAZAPAJCZ?DCTCZMrACZEZEXE\\EXEZGXG^EVGXERAFGXGZGTGZIZK^I\\GRGRITIXKXIVITMXIXKVWl@IPKTQ^MTMXKRMTEFUb@QZKNKTMROVMTABKPKPA@MVMTMTA@KPMVMTKPm@fAMTMTGHABCFIJCFMTILCFILMVEFKPINS\\U`@EHMRMTMVGJEFGLEFMTMTMTMTCBINMV[h@OXA?IPKPABOTGLS\\[j@MTKPOVMTMVINCBMTMTIROXMXKRKVIRMZKXKXIVIVIVGRIZGXGXIVGZEXGXGZEZEXEZEZCXE\\CZCZCXA\\CZAZAL?LAZAZA\\AZ?ZA\\AZAZ?ZAZAZA\\?ZAZAZA\\CZAZAH?NC\\E\\CXCXC\\EXEZEZGZEXGZEXGXGXIXGXGZGXIXOl@Kh@ENGXGXIXWlAIXGZGVERU`AQv@CLIXGXEXGXGZAHCNEZEXCV?BEZC^CTCZAZAZAL?NAZAX?ZA\\?Z@Z?Z@Z@Z@Z@ZBZDf@BT@TDZBXDZDXFXDZFXFXFXFXFT@BHVHXHVHXJVJVJTJVJTLV@BHPLTLTLRLRNTLRNRNPNPPRNPNNPPPNPNPNPLRNPJPLPJTLRJPJRHRJRHRHRHRJTHRHHBHDRHRHRHRHRJRHFBJDTJRHHDHDPJTJFBFDZPVPXRBBNJPLRPNLRPNNPNNPPPNPNRNPNRNRLRNRLTNRLTLTJTLTLTJVJTJVFNBFHVJVJXHVHXHXHVFXFXFXHZDXFXBP@FFZDZDV?@DZBZBR?DDZBZ@L?HB^BZBX@ZBR?HBZBZ?D@TBZ@L@NBZ@P?FBXBZ@ZB\\BX?DBT@ZBZ@L@L@ZBZB\\@XBV?BBZBZ@T?DBZBZ@Z@@@XBX@N?JBZJfBJzADl@H|ANhC^zFBZBXB\\@XB\\@XB\\@Z@X@\\@X?\\?Z?Z?Z?ZAZAZAZA\\AVC^CZCZCXCRAHCXEXEZEZGXEXGZIXEXCHENIVIXGXKVIVKXIVKVKVMVKTINCDMVMTMRMTMTMPEHIJORMROTMRMROROTMRORk@|@ORORADKNMPA@MRORMROTMRORMRORGHEHOTMRMPORKPCBMRA@MPMTORMREDILORMTORMRORMROTMRORORMRMTORMTOPMROTMRORMTm@z@A@MPMRORMTORMPOVORMRMRA@MPMROTMRORMROTKRORMTMTKTEHGLKTKVKTKVKVIXIVIT?@IXGVIXGXGXGXEXGZEXEZEZCXCZE\\AXCZAZAXC^?TA\\?ZAZ?x@?X?\\?J?L?\\?Z?Z?L@L?Z?\\?X?Z?\\?Z?Z?Z?Z?Z?Z?H?P?Z?Z?Z?Z?\\?Z?Z?Z@\\?X?X?@?\\?P?H?Z?F?R?Z?Z?Z?Z?F?R?\\?Z?Z?X?\\?\\?H?P?Z?Z?Z@Z?Z?Z?@?Z?Z?Z?Z?Z?Z?Z?rA?`A@dB?r@?pA?f@?Z?Z?Z?Z?Z?Z?Z?\\?Z?R?F?Z?Z?Z?Z@Z?Z?\\?Z?Z?Z?Z?\\?X?\\?Z?Z?Z?\\?Z?Z?Z?Z@X?\\?Z?Z?Z?\\?P?H?Z?Z?Z?Z?\\AZ?ZAP?HAXA\\AZA\\CXAZALEj@CXC\\CXE\\EXEZCV?BGXEZEZA@EVETADEXCHEPERGXGV?@IZIVCJENGTKXAFGPIXITKXKXKVKTKXKPABKVMVMTKTOXKRCBKPMROTKRORORMRQTOROPOPCDKLONQPMNUTQPOJABSNONQNQNQNSNQPQNQNQNQNQNQNQNQNSNQNABMJSPQPQNQNQPONQPQPQPOPMNWVKLOPQRQPOROPORMPKJUZORORCBMPMPORGHCDKJIJIJCDGFIJQVSXY`@W\\k@t@MP?@OPORGJCBCDY^sAfBMNEFs@`AY^[b@OPQVMPOPORA@KNQTORMPORSXKNOPQTORABORIJABOPORQTMPOROT_@d@MPQTMPOPQVMPILED_@f@SVMPKLSXMN_@h@ORORILEDQTMP[b@_@d@SXOR_@f@_@f@MPGFCDSXQTMPMRMPQVOPKNADKNILW^?@MRQXA@U`@GHWd@KRINA?[l@OZKRGLEFMXKTc@~@O^ABIPGNEFGPKVCHEFO`@KVITITABWr@IVIRKZIZSl@KXSr@Sl@KZ]hAKZELELGTKVIXIVIXIVKVGTK\\KXIVSp@KZQl@KXIXM\\GRAFGPIRM\\KXIVIRKTMXIRCDKTGNS^KRKROTMTMRABQVKPOTMNMPSVMPOPOPOPA@UVKJYVGFABSPSPIHURm@f@EDSPQNSNA@_@ZMLURKHURMLIFKJSPQN[ZYXCBa@`@]^]\\A@ST]b@GDGJcAjAOPc@f@m@t@wAbBwBfC{AdBq@x@WZGFo@v@a@b@SVY\\A@k@p@i@j@ONGFKJONQNe@^a@\\]Vo@`@aBfAQJ}AbAEBKFWNOJULUJWJOHUHSFSFUHk@LSFUFSDUDUFSDUDUFUDUFUDSFWHSFQDWJSFQFSJWJSJSJQHSJQJWNQJSLQJQLQNSLONSNQLQNQPQP]ZEDOPQPQPQPQPOPMLC@OPQPONQROPQPIJEFQRMPQRORMRMROTKPOXMVMTKVKTMVs@lBK^KZGXI\\GVIZEVAFGXETEZEXG\\CZEVC^CPCb@C^C^ATA\\AX?\\A`@?Z?T?^?Z@Z@Z@Z@\\?ZBp@?D@\\@Z@Z@Z@\\@ZDrA@b@@H?L@XBx@Dz@@Z?Z@X@\\@DBr@@Z?N@J?T@F?\\@Z@X@^@X@`@@P?H@P@\\DxA?B@T@J?B?N@`@?V@V?`@?p@?d@?ZAt@A\\AZ?@?XAPAJErAS`FAREbACf@APATCr@OrDAPAPE~@Cl@AXEbAAPEjACf@AZMlCAXGxAAXARE|@MjDAJAPG~AANCr@EvAAd@CjAA`@?`@AnA?p@?x@?b@?T@rA@b@@n@@b@?RBb@@X?ZBZ@\\@VBb@?J@J@VF~@@TB^BVBZFv@Ft@Hz@JlAB\\Hx@@L@JPrB^|DNhBPpBFt@BT|@lKFl@Dd@JpAPlBFp@LrADh@BTf@`GFl@f@xF@PDl@BLBXDl@Fn@JjADb@Fl@?B@JFj@Fr@Hz@Jv@BVDXDVD\\FZLr@Lt@J`@BNBLDLFVFZZjAHXDJLb@JXHVJXBJDJHTBBHTHTJTFLDLDHBFFLDJXj@Vh@DDHPBDJPPZLRJPBBDFJRDFLPTZFHBDLNDDJNBBVZDFX\\NPNNFFFFFFHJB@BDLLLLFFFFDFNNFFPP@@PPBBJLDDJHTVPPJJNPTTLLDDHHDDFHRRPPDDJJDDLNRP?@DDVVLNPP@@NNBBJJHHPRDBLNd@d@LJBBBDLNNLHHHJPPNPDDHFLNb@b@FFPRHHNNXXJJJLLLb@b@DD`@`@HHNPXXXXDFHHFFJJVVPPLN@?LLJNNLJJDF\\\\PPNNVXhTzTtAtAjBlBBDnIvIBBHJzC|Cv@v@BDVVBB@@p@r@v@x@DDVT`@b@ZZZ\\LLFFZ\\DDZZr@r@r@t@XXFFRR@BNNJLFDXXNNFHrAtARRJL\\Zj@l@dBhBt@t@DFl@l@PPtAvAfAhAb@b@LNNNnEtEj@j@n@n@jCnCLLlAnAr@t@^`@jBlBl@l@PPXZ`B`BtAxAFDLN\\\\TVbAdAb@b@b@b@`@b@NP`@b@`@d@LPPRPT\\d@\\h@\\f@Zh@NTNVZj@Xj@BDVh@x@dBl@nAlAhCh@jAhDhHTf@@BTd@Td@rCfGP\\Rb@Rb@xA|CjB|DRd@h@fAP^lC|FTb@JT`@|@z@hBVh@LVf@dALVFJN^`@z@Td@JTHPFJ^v@N\\LTJVHPFNJRPb@Nb@HL?BDLFRJVH\\BJBLDR@FLr@Db@@@@JBT@LBZ@X@F@Z@h@@^?RALAd@?B?LAPAZCXC\\CZEZEXG\\G\\GXGVIVIXGRADCFGPIRA@[p@Wd@KPEHORCBSXEDA@MNCBGFIHMLMJWRSPQJQJSLYL[LKDKDSF_@Jk@He@DW@aADo@Bi@Bk@@U?k@BoAFu@HSBUBE?SDOB_ATUFYHMDWHUHQFULOFYLWLUL]VKFGBSNWPEDYTy@r@MLOPGDMNCDMLIJCBY\\UZGJQVGHCDSXEHMROTMTCDGJGLIRGJITWp@ABGNKZQj@Qn@]jAKf@Or@Ib@EREVG`@CXERANCTCVEZEp@ABCj@AJCv@Cx@Ab@?`@?X?\\?b@?@@h@@H?T@f@Bh@@P@N@N@ND^Bb@D^BV@DDTBTHh@D\\Lr@Lt@RnAF^BJN|@@HJl@Hd@DRV`BVxAHj@@BNx@V`BRhAV|AJj@TtA@JPbAF`@n@rDLv@DXd@pCBLF\\BP^|BN|@N|@f@tCFb@N|@RfAV~ARnA\\tBFZDXFXRnAHb@@FDXBLh@~CDRL|@FZ`@`C@FBTp@zDDXDXb@hC@HHb@Nv@`@hCZjBRnANt@Jn@N|@V`BBJf@zCv@vEf@~CTnADVPbA`A`GLr@Lt@`@bCLv@PfA@FLt@DZLr@BR@HHn@Hl@@HHv@Ht@Hv@Hz@Ft@Ft@Dl@Bd@@PBd@Dt@Dz@?T@F?L@J?TB`@?J?N@ZBt@@z@@v@@V@x@@^?Z@Z?Z@\\@X?Z@X@^?X@T?L@d@@p@@R?\\@X?Z@`@@T?\\@\\?H@N?Z@X@`@?X@Z?Z@Z@V?B?\\@H?P?P@H?\\@Z?@?X@Z@Z?Z@Z@\\?Z@X?@@p@?Z@N@n@@h@@N?X@Z?D?R@R?H@^?X@n@@H?Z@X?Z@Z@\\?\\@X@X?\\?@@l@@`@@\\?F?PBz@?X@\\@Z?Z@Z?\\@Z@X?^@L?H@r@?D@L?N@V?B?X@\\?@@X?Z@H?P?Z@H?R@X?Z@F?T@b@@b@?J@Z?Z@d@?R@Z?Z@\\@V@rA?BBtA@Z?XBx@?\\DnB?Z@ZBv@DtA@Z@^@ZBtA@TB\\@XLrBDr@Fd@@RBXHhANnA@FB\\@HBPDXBZBRH`@BVDTFb@Hl@BHDX?BDTDZFX@JDTDRDXFZDRBRDRDRDRDRDP@FBJFXDPBJNl@BNJ^FVd@lBJ^DLDPHVFPBFHXHVHX^fA^hADHNd@LZ`@`AJXLVJVJTJTLVLVJVJTDFHPJP?@LXJRLTBFHNJRNVJRLTFJDHDFHLDHFJJP@B\\h@DJFHLR@@T\\NVDDNTLPNTLP^h@PRLPNRHHDFNRPTNNNRNPPPNPNRPPNNPPNPPPPPNNPPNPPPPPPNNPHHHFNNPRb@b@LLf@f@PPPPPPHJDDPPHHFFHFFHPPNNPPPPNNNNPPPP@@LLLL@B@?NNPPNPPNNPPN`@`@NPPNHHDFNLPPPPPRPNNNPRNLRRNNNPPPNNPPPPNNPPRRNNDDHJNNTRLN@?NPPPNNPPPPNNPPPNJLBBPPLL@@PPPPNNHJFDNN?@PNPPNPPPNLPRHHFDNPPPNNNNRRNNNNRRNNPPNNPPNNRR^`@PNHJFFNLPPLL@@JLDBNPPPPNNNPRNNNNNNb@b@PPNNBBLNPPNNPNPPNPPNNPPPPPPPNNPPLLPPRRLLPPRRHJDDLLB@DFFD@B@@NLDFHHHHJJRRHHFFFFLLBBJJDBJJBDPPLL^^BBFFHHNPB@NNJLBBNPPPHHFFBBJLHHFDNPPPNNPPFFFHNNPNHJFFNNLLBBPNDFHHFFHHBDJJPP?@HHFDJJFHNP@@HJFFFFFHLNBBLRBDDFBDFHFJFHBDJPBBHPDDLRNVDHBFFJBFBDLT?@JPBDBFDJ@?HTLTHVFLBHJVHT@BJVFTJVDNBFFV@DHTFXDJBJ@BFVFTDNBHBNBHFZ@FBJ@DDX@FDPDZDZ@BBTDTDX?FDZTpBBPD\\D\\BXBNBV@LDZDZ?@BXDZDXHv@Hp@Hx@BP@HDZD^BRHt@D\\DZBXJz@Hr@NrA@HFl@@BFj@Jv@JbABND^BT@J@NJv@@PFb@D\\Dd@BNHt@Jx@?DDZBPDX?DHr@Fb@@PBNBVBNHt@Db@BPBZDd@BNDZHx@Jr@@PBJBT?BHp@DXD`@BLFh@Ht@@LFf@Fh@@LH|@Jp@Hp@D\\Jv@Fj@@JFl@@FHt@@LFf@Dd@BNJx@@DHp@@FBR@H@LD`@BTBTF`@BXDZ@JFh@?@Hr@Fn@J~@LjAJ~@Hn@@FHr@BPJ~@Jx@BTHt@BRXzB@LFd@V`CJbABT@F@HBJBVBXBTD`@BVNnANrALhAJx@Hv@Hr@Ht@Hr@Jv@D^BTBTBP@FDb@BRHr@Ht@NrABPBTFf@NpA@LHj@RvBBRD`@BN^|CHj@B^DT?D@J@LDXD\\BZDZB\\DXBZDZDZBZD^BVD\\@P@HDZDZ@R@F@N@JDXB\\B\\DVBXBTBXDX@P@FDXBZ?BDVD`@?FBPD\\Fr@RtBLfABR`@tDVbCNvAHlAL~ABp@BnA?nA@`AAv@Al@A`@AN?JAT?DAZAV?DAVAZGrAEz@A\\E`AARALCr@?JAJ?HAPC\\?BA\\ANARAXAV?BCd@?HAHANAXAR?FIzBAFAR?LAXCZ?DAXA\\A^APCf@A\\?HARAZAZEt@AZAZAXC\\AXAZCZCXE^CXCXEXEZEZEXCLCJEZGVGZGVIXGXCF[jA]dAQd@[x@i@lAy@rB}@zBs@dBs@|AiAnCiC|F]t@aAzB[p@[t@aEjJgEjJkAtCaBvDa@|@yA~DuAbCw@pAm@zAELq@rBe@bBYdBCXEZCXE\\AXCZA\\AXAZ?\\?Z@R?F?Z@HDjA@ZDZBZBXDZFZDX@FDPFV?@FZHXHVHXHVJVJVJVJTLVLTLRLTLRNRNRNRNPPRLPPPNRNP@@LNJLDDNPPPNRNPNRNRLRNRNTLTLTJTZl@JTLVJTLVJTJVLTJVLTLTJTLTNTLRNTNPNRNPPPNNPPPPNNPPBDLJNPPPNPNPPPt@z@~@tAV^@@p@bApAjBj@bADFbAnB`AtBdAzBp@vAXj@Xl@Zl@Xj@Zh@Zj@Zh@Zh@b@r@R^\\h@\\h@LPLT\\d@^j@Zb@\\d@`@f@\\d@^d@^d@\\b@\\d@PR?@^d@\\d@\\b@PT\\d@^d@^h@^d@PRNPNPNPPPPNPNPNPNRLLJB@RLf@Vd@XPJTJd@VLFZNd@Xf@TXNJHh@Vd@Vf@VDB`@Rd@V@@d@Tf@Xd@T@@RJ\\PHDRJ@@NHNHD@^TXNRJTJPHRLRJRJPJRJTJPJRJ`@RDBd@Vd@TFDh@XJDNJ^RFDRLTN@?NLPLPN@?PPXXDDPRNPNRFHFHZf@?@LPNXLVf@~@LVJR@BJRJPHN@@PXNTDHDHPRJLRVNN?@b@b@LJBBPLNJFFHFTNTLRJPJJDFBTHJFD@RHTHRHRH@?PHlAb@@?bA^PFTH|@ZPHNFD@RHRHTHRFJDHDh@PPHh@PTHRHRHh@R@?VJLDRHJDHBRHTHRHFB^NRHJDFBRHLFVH@@PFRHRHLDD@\\NPHVJRHRJPJPHLH@@NHNL@?PNVRNLLJRRNN@@HJBDJJLNPV@@PVJNBDFJLTLTJRBFFNJRJVFNJZL\\@DDJ@DHXHZBLH^H\\DV?@FZBVDTDd@@B@TBV@TBV?DB\\@\\?N?L@^?\\?@?\\AV?N?LCf@A\\AJCd@ANCTAHCRG`@E\\Gb@Kd@CJCJ?@GTCNQh@KZSh@Un@Yj@Yj@GNGLEFKN?@GHUZCDQRQTA@YZEDGF[ZSRGFEBABQNGFYVQPQRC@WVEDOLIHKHOPQNKJWTUROPc@`@MLQNOPKHWVKHEFIHKJUTGFe@d@KLSRMLe@h@A@SRGHST_@b@MN[^k@r@Y^ILWZIHKNc@j@]b@SVQTWZe@j@UZGHOVQTORGLGF]f@IJMNGJQTILKNSXKRMRCBWl@KRMZCHGPGLADQf@CJIZGTCJIZMl@ENERGPCNELCNGT?FMl@AJEPEZ?@CNAJGr@CR?FCV?JC`@?VAJAX?F?^?d@@Z?L@^@P@TFn@@F@L@NDVHh@BT@F@FDPDTFTBHFV?@DJ@HFRHRPd@BHHPJTBHBBHNDHP\\FLR^JNVZTZj@r@PTLP\\f@RVpA`BdBvBzAjBVZl@t@LNRTPRFHh@r@T\\^b@\\d@n@v@JNFFZ^d@j@@@JLDDX^X\\Z`@BBV\\LR^n@@DDFBDBDFLDJJTFPJXDLBLDPFPDTFZ@HBJF\\Db@@JDZ?H@L@H@T@R?T?T@P?@AR?PAL?JAL?PALCZAJAJAHADAFCRCNALERK^Oj@IZYv@Sn@A?Qd@Qf@O^Up@Qf@Qf@oBpFw@vBQh@c@lASf@c@pAiA~C_@bASl@oB|FQh@c@nAqAzDGNQf@Qf@Qh@Qf@Qf@Qh@_ApCGNQf@c@pAc@pAgA`DgA`DSl@GRENKXOf@Qh@Wv@Qh@Of@Qh@c@pAOh@c@pA]fACHSp@]jAQj@q@xBIVEJIVO`@ENQf@Ob@Wr@KZi@pAM^Sh@M\\{@~ByAjE[x@m@hBGPMb@GPUn@Qh@ELELMb@EPSr@Qv@Sz@SbASfAc@~COlAIjAGn@Cf@Ef@ShCSrCWlDEl@UjCSxCYvDU`DSpCGt@_ArLSrCk@vHIbAGz@YzDOrBOnBANAPE`@SvCG~@e@nGYnDYvDq@hJQ~BIfAUpC_@bFEl@yAdSKjAo@lIMhBANARAHKnAaAtMU~Co@lIc@|FM~AAZAJCNGx@OzBGl@IpAUrC?@CTCb@APCNEl@Ep@Gt@q@dJ{@bLKrAOlBY`EGx@Gt@OpBWdDGv@aAxMGt@WfDKlAGp@Ej@El@M|AA`@E`@ATUvCI`AI`AUlCIz@MpAIx@Gh@AFUhBCXIh@APEZSrAQtAQjA[lBWzAGZ_@vBUpAWpA_@dBGXQx@a@hB[lAMj@K`@YjAc@fBMh@K`@c@fBw@`DMj@Uz@{AnG{@jDi@xBSx@GTERK\\CLKd@ABOn@Sx@YhAYjAU`ACLc@fBGZYjAUbAOj@S|@o@~BOh@a@jBi@xBgAlEiAvE}@vDu@`Du@lDiA~FAHw@zEe@|Cc@fD[fCMdAAHaAvI_@`Dc@~Du@nHUvB_@`DWfC_@fDi@xEm@|FMbAw@lHo@bGQlAYpCW|B?@Kx@Eb@Kx@OxAE^E`@Ir@Gl@YhC?@A@Ef@?@A@Gj@k@fFOtAOzAAFEb@CPk@vFCVCNIx@CZGv@CXE\\G|@KnAGfAQxBCl@ANGbAElAATCt@GlA?HGtAA\\GrAGrBEx@ATIlBA\\ANA\\AN?@A\\ANCl@IzBCx@]`J?@G|AC`@MxDAPAPIrBWdHQfECl@?PQzDAl@KjCIjBShGAv@Ad@Cn@Aj@Af@GtBEpACfAIvDIfDGdCQlICfAAn@I`DAh@A^OfGAb@?B?FAVEzAGdDCbAAd@QpHEtAAp@?LEbBGlBAJElBCx@?XEtAAZ?ZA\\Cx@CnAGtB?L?h@A\\AZAf@?PAZAZA\\AVC^AXA\\CZAXEn@Ed@ARAFCZE\\CZEZEVEZEZE\\I\\EVGXG`@EPGZGXEVIXGXI\\GXGVCJCROr@ELCJGXQt@Kb@Kd@On@AHOn@IXI`@ERQr@IZGZQr@Qv@ENu@fDIXOp@Qv@K`@Kl@YlAYjAGXQx@WhASx@GVETI\\I\\Ol@CHCLI^GXIXOr@Qr@Ib@Mf@GZQr@GVG\\Oj@Or@CHMj@I\\YlAS~@IXERGXIZGXGVGXIXI^Mn@IXI\\GXEPI`@IZOp@Kb@EPERGXSx@CJKf@Oj@AFGVGXGXA@GZGTGZIXGX?@GXIXGXOr@IZGVIZIZGXIXGVIXIXIXKXIVELEHKVKVKVKVMVMVMRMVMRMTOTMTIJW\\MPORQROPOPQPMLQRQNONMJEFQPQPQPMJA@ONQPc@b@QNQRONONQROPQRMNQTQTKNQTKPQXKPKRMTMTMTKVMVIRMVCHELKVKZIVITKZGVIVIXGXGZELAJIZGZEVCTG^Kp@Kv@CLGf@EZEZKr@EZKx@Kr@In@Mz@Kx@Kr@CVMz@Kr@Kx@EVOlAG\\ALAJMx@Ir@Kp@Kz@SrAOpAKr@QpAQnAE\\Kr@Kx@Kx@AHG`@If@EVE\\EVERIb@ETI\\GVGVENCJIXIXGRIXKXKXKVELEHKTKTMXIPOXMVABINMPMRMTOROTGHEFKLEFQRQPOPOPQRMLQP?@A@ONQPQPQNQPONQPOLQPQPQNQPONQPKJA@SP?@OLUTMJGFABEBQNCBMLSTKHSRC@KJSRKJSRCBMLQNGFIHIHGDUTQPSR_@\\QPQPIFEDOLQPSRONa@^UTYV[XONONQPQPSPONc@`@a@^STMJQNc@b@ONQNQPONQPQNONONGF[XUTMLSPMLSR?@OLONONSPOPONEDKJQPORONMRQRMPILGFMRk@~@GJQ\\OVKTEFGLKVEJEHKVKVITKXKZITIVIVIZCFENIXGTIVKZGTM`@Oh@IXIXIVIXIXCFEPIX_@lAQl@I\\ITK^IZKXIZCFERKZQn@GPGREPGL?BUv@GPIXGTKZGXKXIVSp@GRKZKXWn@IVKTKVMVKTKTMTKTKP_@p@MTMRMRMNQVOTMNQTMPONSVMLOPSPMLONURQPIDMJKHu@j@C@k@^}@n@_@TwA|@a@TiAx@WN[RYNw@f@o@`@wA~@a@VqA|@o@b@cAl@eBnAcAn@ULi@b@u@f@[Tc@\\k@`@g@^_@\\[XQNc@b@SR_@\\QPSRIJQP[\\YZYZORONQTIJEBORCBKLMNA?OROPOPEDIJa@d@a@d@QRMLa@f@OPQTONOPa@h@A?MN_@d@QPORONOROPQPMPOPGFWZs@z@]`@OPSTMNORIJu@x@w@|@kArAUXs@z@yBhCk@p@Y\\YZa@f@Y\\c@h@e@n@SVS\\_@n@[j@[p@Ul@Sn@K\\GPIVGVIZIZGVGXGZGZEXEZEZEXE\\CZC\\CZAZE|@?JAN?ZAZ?Z?X@\\?^@N?N@R@\\@^Bj@j@fKBt@DdA@f@?jA?b@Ar@A^Ab@?DAd@AFM`CUdBUvAU`AADMh@AFWz@i@`BwB|Eu@dAc@n@QTST[\\a@^CDg@`@_@Va@ZSPa@XULOJKHQLIDYT_@VWTc@Vq@d@u@f@e@^QLSLOJSLUNOLQLQLSNSNSLWNWR_@Vc@XYRGHSLQJQLSLQLE@MJQLQLSNQLSLe@\\w@j@QLSLQLSNUNa@ZQJSNOLSLKH[Ri@\\c@ZE@i@`@]VOJOLQLQLQNGFKHOLMLCBQPQRONOTQPOTORGHGJCDILOTMVOTMTMTIN[d@e@v@QZq@fAU`@Wb@e@x@GJWb@_@l@e@|@OVWb@MTOVMRMVMREHGJMRMVOVe@v@e@z@]t@Yt@KZELM`@Qp@Kb@Q|@Ov@O`AO~@Gb@QtAUxAQlAKh@SfAWdAW`A[~@Wp@]v@S`@OXOXW`@W\\OTa@d@a@d@MNOLa@`@GDA?YRCBGDOH[RSL[Ng@V]N]Nc@Lc@N]JC@oA`@[HQFKBg@Na@NSF]JWJm@TUJ]Rw@b@UN]XWTUNYVa@`@_@d@UTMPORQVMP]l@IRMVMXGLSb@IRMXSn@GJW~@Of@Qv@S~@EZETAFEVMz@Kr@E\\AFCNEZGZOjAEZCLIj@Mp@EZAHQfAEZETG^CRAFGXE\\O|@CREXGZKr@EVEZaAzGc@dDQ|@OjAQlAE\\Kf@UnASbAo@zBa@dAQ`@w@lBWb@_@p@SXc@n@c@j@ST]b@QTSN}EpEy@t@_Az@s@p@_BvAy@r@y@z@_@^e@b@s@v@q@v@w@dAm@|@INABU^CH}@dBg@lAgA|Cq@zBc@rBa@xBWnBMtAM|AG~AAZAV?BA^AVAz@AZ?Z?X?`@DvFHtHF|FBjC@f@?F?n@@lBEjC?XATEnAQzCS|B[nC]lCKn@Or@S|@Ql@[nAk@rBSn@c@pAa@fAe@fAk@nAg@`A_AxAw@rAoAlBeCnDiBhCuCdEcAxA{@|Ag@`A{@nBw@dCaDjLyBdIgA`Eo@~BMb@Sj@KZOb@O\\Sb@_@x@g@|@m@dA_AtAk@z@w@hAy@fAoAhBoAxAs@r@m@l@_Av@_Ap@iAr@q@\\]RmAd@eA^_B`@eBZc@FcAJk@Ds@BiA@kAA}AEwBIGAA?UASAWAUASAUAWASAQAC?UAUCM?GAA?SAUAUAUAUAUAUAUAUAUASAUCUAUAUAUAUAUAUAUAUAS?IAc@?W?S?W?S?UBU@U@UBUBUBUDUDUDSDUFSFUFUFSHSHUJSHSJSHSLSLQJSLSLQNQLQNKHEDQPSPOPQPOPQROPMRQTKNA@OTEHGHMTMVMTMVMRKVKVKVKXKTIXKXELCJIVIXGXIXGZGXGZGXGXGZGXEXGZGVAJENGX?@GXEZGXGZGXGZGXGZMr@GZGXGZEXGZGXGXGZGXGZEXGXG\\GXGXEXADERGZGXGZGXGXEZGXGXGZGXGZEXGZGXGZGXGXAFCPGXGZCNCJGXADETEVG\\GZGXGZEPAFEXCHEPEXGXEPAFGZAFEPEXABEXELAJGXGZEXGZGZGXGZGXEZCHCNGZGZCNCHEZGXGZEXGZEZGZEXEXE\\CXE\\AHCPC\\EZCZCZCXA\\ALALCZA\\AZA\\AZ?PAf@AZ?J?B?j@?Z?\\@Z?\\@X@\\@\\@ZBZ@ZBZB\\BXB\\Ft@D\\DZBZDZDXF\\DXFZDZ@DBH@JFXFVFZHXFXHXFXRr@HXd@fBZjA^pAJ`@Nf@Pn@Pl@@HHXJ`@Nh@Nh@\\nARr@\\lAXdAJ`@Lj@Jb@Lj@Jj@DXF\\Hl@Fn@F|@Df@@X@V@`@@j@?F?^?\\?\\?\\Cp@A^APEn@C^APEZEh@EZG`@Id@I`@Kh@Kb@EPADIVERO`@?BUl@KX?@KTSd@INQ`@EDQ^MVOTS^CDWb@S\\a@p@OV[j@QZGJc@t@i@|@mAvBs@nAU^w@rAsEbIKNIPYb@GJGJMPOTOTOPQTMROPY^u@~@QROTSRMPOROREDGJQTABMPGJCDQTINCFOTKRMR?@ABCBGNYj@CDGNKVKVGLCHKVIVADELEJGRIVIZKb@ABCJGXGXIZEXG^GZIh@?DE\\EZEXEf@KdAQxBGp@Gv@CZCZEZCVC^Gj@?@Kr@Gf@EZQbAKh@GZCH?BCJGXIXGZIXIXIZITGPM^IXKVKXKVKVKVKVMVKRKVMVYn@Wl@MTIRABKTe@dAMVYl@KVMVYn@KTKVMTKVMXKVITKXKVIVKVIXKVGXIT?@IZIXIXGVGZGXGZGXGZEZGXEZEXEZEZEZCZCZABCVCZCZGv@Gx@CXC\\CZEZCZCXC^CXCX?DCV?DGp@CZGp@?@AHEr@C\\CXCZCZE^CXCZCZCZCZC\\AHAPCXC\\CZC\\AXC\\AZABAVAZCtA?R?H?XA\\?v@?x@?Z?\\?Z?\\?Z?Z?\\?Z?Z?Z?V?D?Z?Z?\\?Z?ZAZA\\?\\AD?RC\\AV?BCZEZCXCPAJEZA@EVCJAHADGXGXIXIXYx@GPKTITMVMVMROVOTMPORORGHGFQPQPQNQNIHGDSLQLSLSJSJSJ_@NIBUHSFSFk@PSFUFKDG@SHUFUHSFUHSHSHSHSHIDIDUJSLSJQLSLABOJQLSPQNQPGFGFKJEDUTKLIJEFOPORORMTORMTMTCDINMVIPABMVMZIPIVKXKXKVIVKV?@KVIVKXIVKXADGNCFGPENCHKVIVKXIVEJELIVKTIXKXIVKXIRABIXa@fAUr@Un@IXKVIVKXADIPIXKVIXKVIVKXIVKXKVIXABA@CHCFIXKTIZKVIXIT?@IXGVI\\IXAHERABIh@G`@EXCXCZC\\CZAZAV?BAZ?\\?Z?Z?\\@Z@ZBZ@ZBZB\\DXD\\DXFXDZFZHXFVHXHXHVJXJXJTLXHRFJDLLTJTLVJVLTLVJTJTZn@Vj@h@dAJTLVXl@JRLXJTNXJTJTLVHR@@LVXn@LRJVLTLXJTHN@DLVLTJTLXJTLVLTJTJTFLDHJT@@BHFJJTLVLVJVLVHTFNDFJVHVJXJXHVHVHXFT@DFXBJDLFVFZF\\DVFZDZDXDZDZDZB\\DZBZBX?DBVBXJrAF|@BXB\\BXFx@BXBV?BB\\BZ@L@JB\\BZBT?DBZ@L@LD\\@XD\\JrABZ@P@HBZ?FBRBX?BBXBZJvABXJtAFt@Fv@BZBZDf@@NBZ?@BZBXDd@@RBZBX@F@RBZB\\Ft@B\\BX?B@@@VD\\@XBZBZBZBP@J@X@F?@Fn@BXBZB\\BZBZB\\BZBZBZBZJrAb@|FRjCB\\DZ@ZDX@VD`@Fv@BZBZBZDj@BXB\\BXBZBZ?FBPBZBZBZBZB\\BXBZ?FBRB\\BZBXB\\BZB\\BXFt@P~BHfAx@pK@NBZBVBZB`@BXFn@Dd@BXBZBZBZBVD^BNDd@DZDZDX@DBRDX?@FZ@LBJLt@FZDXFZDXFZDR@DDZLt@FXFZF\\Lp@Lv@Lp@FZDXFZFXF\\DTVxALp@RlALn@Lv@@FLp@Jj@@DDXBJBPFX?@DTBLBLFZF^DVFXDXFXBJ@LFZFXDZ@BDTFXDXBLBJDZFVBTH`@?@FZDVFZFXDZFVDXF\\FXDXFZFXDXFZDXFXFZFZDXFXDXLr@F\\FXDXFXFXDZFXFZDZFVDXFXDZF\\@DDRFXDXFZLt@FXDXFZDVFXDZFZFXDXFXF\\DVF\\Lr@FZDXFXFXDXBNBLFXBP@FF\\@DDRDXFXDZFXFXDZFXDXFZDVFZFZFXF\\DXFXDVBNBHDZ@DDRDZFVFZFZ?DDRDV@@DXF\\FXDXFZDVFZFXLv@FZ@HJl@DTFZDXFXF\\DXDXFZDXFZBNHd@DXFXD\\BJBLDZFXDXDZ@FDRDXFZDXFZDX@JBH?BFZJr@FZDXBLJn@DTBNNx@DZBNBJHj@Jf@f@~CLx@FVDXDZFZDZJh@Hf@F\\Lp@Jf@DVTbA@DJb@Jb@FZFTRr@FV@DHVLb@X|@HXHRL\\HT^dAHTFLFPJTFP@BVj@NZ?@LVJRVj@Zl@LTZj@LRLVBDHLJNNVPZPVHN\\h@FJDFLTLRLR\\l@JRNVJTXn@JVJXJXJXFTHVFXFTFXH\\DVF^@HBPFl@Fd@@XBZ@VB\\@R?H?V@^?\\?j@?N?@AVA`@AVCb@ARAHARC\\CJAJE`@Il@Gf@Gh@G\\EZKt@EZEXE\\CJAJKx@Kp@Kt@UdBQlAIf@?DCPMn@G^CNCLEVGXI^ADENIXI\\GTIVCFERKXGRKZIVIVUr@EHSn@Qh@Wv@ADc@rACFGNWv@KZe@tAo@nB[~@M^IViAhDa@nAq@nBo@pBg@xAUr@a@jAAFm@fBM^]fAYv@ADe@xACHc@nAUr@Qf@EL[~@IXELCFa@lAOd@CFOb@ABQj@Sj@Of@c@nAcBfFCHQf@?@IRGRCDMb@Q`@KZO^IRUd@GLMV[j@CDWb@Wb@OPKPY^Y^WV]`@QPYX[VWR]VCBYRSNULa@TYNc@RWJo@Vm@RUFa@HMD_@Fi@J]DWDUBM@[D_AJe@Fa@FG@YDYFc@Hg@JYJc@N]LWJKDe@XOHSLQLMHYTOLQPMJa@b@IJKLQTEFA?W^Yb@U\\OXILIN[f@MT]l@INSZUb@INKNILOXWd@U^W`@MTS\\OV]l@KR{@xAMTOV]j@[j@[h@QXKRk@`Ae@v@S\\]j@{@tAY`@SZOROPOROPQPQPQNQPQNOLQLQLQJWPOHSJSJ_@PgA^eAX]HC@m@H{@JcAJ_AJmAH]BE@oCT_AHcAJk@FiBNaAHuALaAHuAJ_AFg@FWDWBg@JUFUDSFKBIDSFC@QHSHQHSJSJSHQLSLQLSNQLSNQNONQPQNOPOPOPQTMPOROTCDILMR?@KPINEFMTKVMTKVKVKTKZKTIVKVGLOb@Un@m@~AUn@EJQd@Un@Wp@Un@KVKVIVKVIVKVKVKVKTKVMVKVKVYl@KVYl@ITMVGLCFMVKVKTKVMVKTKVKTMVEJQb@A@Wj@e@dAKTKXKTEHGJKXKTYl@Wl@MVKVMVWl@Sb@CHO\\GLMVMXEJQ`@Yn@Wl@MTKR[n@[j@MROTMRQROROROROPOPOPSROPMNQPOPSTONOPORORMPY^[d@U`@MTEFGJ[j@EJU^[l@[j@MTKR]h@OTILCDORQROPOPQPQNEBKJSNc@ZEBMJOJoAt@e@VIFKDQJWNo@`@i@Zw@f@i@`@o@d@eBzA]Xy@t@m@h@MJIFSPIHc@^y@r@_@^_AfAa@h@a@n@Wj@Wj@Un@Od@K\\?@GRCHAJKd@O~@KdAGt@?BARAV?JCr@@bADdB?BJvD@VBv@FrADpAJvBDn@@DHr@Jx@PlARlATvAX|AH`@TtARhATfABHNr@Rr@Rl@Tn@\\t@Xj@T^BB@BZb@RXVXf@j@t@r@~@|@f@d@b@`@PNPR^`@PRBDl@v@h@dAJRLXBFBHN^HVHXHZFVNr@DVF`@D\\DZ@T@DB^@T@\\@\\?D@b@@Z?bBBhF@^@hDBfHB`F?H?P?\\?P?V?T@pB?t@?V?RAbACr@AZA^C`@Cd@C\\Cf@Gr@Gd@CXMbASzAG\\Kr@Ih@y@pFEVu@`FW~AGb@_@`CG^G\\GZERETI^ETIVK^IZIRCJCHO^GPKTKTABIRS`@GNQZILOTMTIJEF{@tAMPGHY`@MROT[d@U^QXMTOTGLIPKTKTKXCFITKVK^GTQp@AHUdAWhAUjAOt@Qt@IXGXKZIXIXIXKXKVKTELEJMXKVWl@EFGNIRMXMXMVKVIPCDKXMVKVWj@KTMXMXKTABWl@Uf@Yl@O^e@dAKXGJQb@Sb@IRIPa@|@[r@Sf@GNMTKVGLSd@Yl@Yp@Yp@GNg@hAa@~@[r@OZUh@Wl@Wj@O\\e@dAWh@QZABIPMTOVMROVOTKPA?OTKLQVEF[\\ORGFGHSRUT_@\\YVCBg@`@_@Vk@b@UNUNOJg@\\KFYRy@h@UPMHc@Zg@\\c@Ze@`@WRONSTOP]^MRA@MPMTOTMVCDINMVITMVKZKZIXGTGRI\\GXGZCPGXEXE\\StACTCHQxAOhAEZIl@G`@EXE^Kp@Kt@It@EXG\\EZMr@G\\EXGXGVADGVI`@Ol@IXIVEPCHIVKZIVKXKVKV?@GLCHMXKTKVKTA@KTMVMVMTKTMVEFGLMTMXKRQ\\INKRA@KVMTMTMXINCDIPi@dAMVMTMTMVKT]n@KTMTMTKTMVMTMVMVOXKRMTKT?@MTMTKRMXMTMVMVMTMTOXIRGLEFMTMXKRMTMVWf@KTA?GNk@hAc@z@Ud@_@r@MTGLOXKTMVMTMT[n@Q^KPIRMTMVMRMVKTKTS\\KVKNELGJIPCFINKTMZIRQ`@ELMZIVKVIVIVIXIXGTIXIXI^A@GXGXGXGXGVG\\GXGXCLCJI\\EVGZGXGXGXGTG^GTEVGVADGVGZGZGZGZGVGZIZEXI^GTGZGZKb@Id@GXYpAEXGXMh@Kd@GXIb@U`AKd@ABOl@Mj@GPMf@CHGP[fAK\\]jASl@Qh@Y|@]dAKZIVQl@Qf@GRc@tAELQf@Qj@m@lB_@hAsAfEK\\kApDqAdEaAxCGRa@lA]fAWv@{@nCQf@Wx@]fAGRITSl@ELOd@Qh@Sf@M\\Qb@GLQ`@MTMVINU\\W`@UZQTg@j@MNUVSPe@`@_@Xi@^_@TYPYNE@IDcCnAUJULID_@Pa@R_@RGB]PuAr@g@VOFs@`@SJSLy@f@a@X]V]VIHOJ[XA@]Zm@j@CDEDYZWXGFSTY^OR_@f@KN_@j@OT]j@INQXMT[n@MXMVYn@IPKVEJM\\Qf@ABA??@Qf@IXM\\Ql@Sr@GXK`@Mh@I\\Ot@WpAIZG\\Mp@I`@Ml@Ov@Kh@CHG\\Qx@Mp@Op@Oz@Op@_@lBOt@Op@I`@Or@On@IXENMf@Sl@IXKXWr@KTKVWp@MVWn@Yl@Yp@MXWl@Yl@MZi@jAO^O^IPMZINKTKVOZMXKX[p@Wj@KVYn@Uh@O\\MVYp@IRYn@Wl@EHSd@MXWn@Yn@Yn@Yl@ITOZITYn@KTMZYl@KT?@MVO\\a@~@Wl@OZSf@Uh@[r@c@`AYp@Wj@Yp@Yn@Q`@EJWl@OZWl@KTKVYl@Yp@Yp@KVKRWj@M\\Yj@MZYp@oArCeAbCs@`BWl@?@e@dAWj@Q`@GL]z@Q`@CBSf@A@Yp@Yt@MZYp@CFQf@M\\GPUn@M\\IVMb@ELSp@IXKZKb@EJI\\IXGVOj@EPMb@Qp@IZi@xBSz@Mb@CLSx@Qn@ABOp@Qr@Sr@Sr@?@Sv@ITIVSp@Ut@IXKXITCFQh@KXCFENMXa@dAMZGNMZM\\GPSd@Uj@Qd@GLQf@O\\Sf@CFWn@Ul@e@jAKXIRYr@Wn@GLKVKZMXUj@[z@IRMXO^?@Uh@Wp@Sh@Uj@CFWl@Un@O\\ITKVWp@Ul@O\\a@bASn@KZIVA@Sr@GVIZCJCPGVGXEXG\\E^Kr@Gv@Gv@Er@Cz@Av@?z@?z@?R?~@@`A?p@@rA@`A?t@?\\@z@?Z?\\@Z

In [79]:
closest_rows['date_time'] = pd.to_datetime(closest_rows['date_time'])
closest_rows = closest_rows.drop(['index'], axis=1)
closest_rows

   end_location.lat  end_location.lng  cumulative_time           date_time
0         37.541017        -77.436471                0 2024-10-20 19:00:00
1         38.463491        -77.408396               63 2024-10-20 20:00:00
2         39.037024        -77.144951              107 2024-10-20 21:00:00
3         39.998866        -78.238898              204 2024-10-20 23:00:00
4         39.988968        -78.255108              207 2024-10-20 23:00:00
5         40.434320        -79.748054              303 2024-10-21 00:00:00
6         40.440635        -79.995913              323 2024-10-21 01:00:00

In [80]:
temp_list = []
precip_chance_list = []
wind_speed_list = []
skycover_list = []
snowfall_list = []
windgust_list = []


for i in range(len(closest_rows)):

    desired_val = [closest_rows['date_time'][i]]

    url = f"https://api.weather.gov/points/{closest_rows['end_location.lat'][i]},{closest_rows['end_location.lng'][i]}"
    r = requests.get(url, headers = headers)

    myjson = json.loads(r.text)
    df_url_info = pd.json_normalize(myjson['properties'])

    hourlyURL = df_url_info['forecastHourly'].iloc[0]   
    hourlyURL_grid = df_url_info['forecastGridData'].iloc[0] 

    # Obtain actual hourly forecast data

    r = requests.get(hourlyURL, headers = headers)
    r_g = requests.get(hourlyURL_grid, headers = headers)

    myjson = json.loads(r.text)
    myjson_g = json.loads(r_g.text)

    df = pd.json_normalize(myjson['properties']['periods'])
    df['startTime'] = pd.to_datetime(df['startTime']).dt.tz_localize(None)

    df = (df.loc[[abs(df['startTime'] - hour).idxmin() for hour in desired_val]]).reset_index()

    df_temp = df['temperature']
    df_pop = df['probabilityOfPrecipitation.value']
    df_ws = df['windSpeed']

    temp_list.append(df_temp)
    precip_chance_list.append(df_pop)
    wind_speed_list.append(df_ws)

    # Obtain actual hourly forecast data from grid forecast

    df_sky = pd.json_normalize(myjson_g['properties']['skyCover']['values'])
    df_wg = pd.json_normalize(myjson_g['properties']['windGust']['values'])
    df_snow = pd.json_normalize(myjson_g['properties']['snowfallAmount']['values'])
    

    def convert_time_select_closest_row(var_name):

        var_name['validTime'] = var_name['validTime'].str.extract(r'^(.*?)/')
        var_name['validTime'] = pd.to_datetime(var_name['validTime'])
        var_name['validTime'] = var_name['validTime'].dt.tz_localize(None)


        df_ab = (var_name.loc[[abs(var_name['validTime'] - hour).idxmin() for hour in desired_val]]).reset_index()

        return df_ab
    
    df_skycover = convert_time_select_closest_row(df_sky)
    df_skycover = df_skycover['value']

    df_snowfall = convert_time_select_closest_row(df_snow)
    df_snowfall = df_snowfall['value']

    df_windgust = convert_time_select_closest_row(df_wg)
    df_windgust = df_windgust['value']


    skycover_list.append(df_skycover)
    snowfall_list.append(df_snowfall)
    windgust_list.append(df_windgust)


temp_list = np.array(temp_list)

precip_chance_list = np.array(precip_chance_list)

wind_speed_list = np.array(wind_speed_list)
wind_speed_list = wind_speed_list.flatten()

skycover_list = np.array(skycover_list)
skycover_list = skycover_list.flatten()

snowfall_list = np.array(snowfall_list)
snowfall_list = snowfall_list.flatten()

windgust_list = np.array(windgust_list)

closest_rows['temp'] = temp_list
closest_rows['precip'] = precip_chance_list
closest_rows['ws'] = wind_speed_list
closest_rows['skycover'] = skycover_list
closest_rows['snowfall'] = snowfall_list
closest_rows['wg'] = windgust_list

In [81]:
closest_rows

,end_location.lat,end_location.lng,cumulative_time,date_time,temp,precip,ws,skycover,snowfall,wg
0,37.541017,-77.436471,0,2024-10-20 19:00:00,64,0,2 mph,1,0,9.260
1,38.463491,-77.408396,63,2024-10-20 20:00:00,56,0,1 mph,2,0,5.556
2,39.037024,-77.144951,107,2024-10-20 21:00:00,57,0,2 mph,1,0,9.260
3,39.998866,-78.238898,204,2024-10-20 23:00:00,47,0,1 mph,2,0,7.408
4,39.988968,-78.255108,207,2024-10-20 23:00:00,47,0,1 mph,2,0,7.408
5,40.434320,-79.748054,303,2024-10-21 00:00:00,49,0,3 mph,0,0,12.964
6,40.440635,-79.995913,323,2024-10-21 01:00:00,50,0,2 mph,0,0,9.260

In [18]:
url = f"https://api.weather.gov/points/{35},{-90}"
r = requests.get(url, headers = headers)

In [19]:
myjson = json.loads(r.text)
df_url_info = pd.json_normalize(myjson['properties'])

In [20]:
df_url_info

,@id,@type,cwa,forecastOffice,gridId,gridX,gridY,forecast,forecastHourly,forecastGridData,...,radarStation,relativeLocation.type,relativeLocation.geometry.type,relativeLocation.geometry.coordinates,relativeLocation.properties.city,relativeLocation.properties.state,relativeLocation.properties.distance.unitCode,relativeLocation.properties.distance.value,relativeLocation.properties.bearing.unitCode,relativeLocation.properties.bearing.value
0,"https://api.weather.gov/points/35,-90",wx:Point,MEG,https://api.weather.gov/offices/MEG,MEG,44,60,"https://api.weather.gov/gridpoints/MEG/44,60/f...","https://api.weather.gov/gridpoints/MEG/44,60/f...","https://api.weather.gov/gridpoints/MEG/44,60",...,KNQA,Feature,Point,"[-89.977669, 34.951005]",Southaven,MS,wmoUnit:m,5815.540383,wmoUnit:degree_(angle),339

In [21]:
hourlyURL = df_url_info['forecastHourly'].iloc[0]   
hourlyURL_grid = df_url_info['forecastGridData'].iloc[0]

In [22]:
hourlyURL

'https://api.weather.gov/gridpoints/MEG/44,60/forecast/hourly'

In [26]:
hourlyURL_grid

'https://api.weather.gov/gridpoints/MEG/44,60'

In [24]:
r = requests.get(hourlyURL, headers = headers)
r_g = requests.get(hourlyURL_grid, headers = headers)

myjson = json.loads(r.text)
myjson_g = json.loads(r_g.text)

df = pd.json_normalize(myjson['properties']['periods'])

In [43]:
df1 = pd.json_normalize(myjson_g['properties'])
df1

,@id,@type,updateTime,validTimes,forecastOffice,gridId,gridX,gridY,elevation.unitCode,elevation.value,...,potentialOf40mphWindGusts.values,potentialOf50mphWindGusts.values,potentialOf60mphWindGusts.values,grasslandFireDangerIndex.values,probabilityOfThunder.values,davisStabilityIndex.values,atmosphericDispersionIndex.values,lowVisibilityOccurrenceRiskIndex.values,stability.values,redFlagThreatIndex.values
0,"https://api.weather.gov/gridpoints/LWX/83,69",wx:Gridpoint,2024-10-14T23:30:20+00:00,2024-10-14T17:00:00+00:00/P7DT8H,https://api.weather.gov/offices/LWX,LWX,83,69,wmoUnit:m,91.1352,...,[],[],[],[],[{'validTime': '2024-10-14T17:00:00+00:00/P1DT...,[],[{'validTime': '2024-10-14T17:00:00+00:00/PT1H...,[{'validTime': '2024-10-14T17:00:00+00:00/PT6H...,[],[]

In [53]:
df_sky = pd.json_normalize(myjson_g['properties']['skyCover']['values'])

In [56]:
df_sky

                          validTime  value
0    2024-10-14T17:00:00+00:00/PT1H     51
1    2024-10-14T18:00:00+00:00/PT1H     47
2    2024-10-14T19:00:00+00:00/PT1H     46
3    2024-10-14T20:00:00+00:00/PT1H     44
4    2024-10-14T21:00:00+00:00/PT1H     43
..                              ...    ...
112  2024-10-21T12:00:00+00:00/PT5H      5
113  2024-10-21T17:00:00+00:00/PT3H      4
114  2024-10-21T20:00:00+00:00/PT2H      5
115  2024-10-21T22:00:00+00:00/PT1H      6
116  2024-10-21T23:00:00+00:00/PT2H      7

[117 rows x 2 columns]

In [67]:
df_sky['validTime'] = df_sky['validTime'].str.extract(r'^(.*?)/')
df_sky

    validTime  value
0         NaN     19
1         NaN     22
2         NaN     31
3         NaN     23
4         NaN     15
..        ...    ...
100       NaN     10
101       NaN     11
102       NaN     12
103       NaN     13
104       NaN     15

[105 rows x 2 columns]

In [70]:
df_sky

                     validTime  value
0    2024-10-14T16:00:00+00:00     19
1    2024-10-14T17:00:00+00:00     22
2    2024-10-14T18:00:00+00:00     31
3    2024-10-14T19:00:00+00:00     23
4    2024-10-14T20:00:00+00:00     15
..                         ...    ...
100  2024-10-22T08:00:00+00:00     10
101  2024-10-22T09:00:00+00:00     11
102  2024-10-22T10:00:00+00:00     12
103  2024-10-22T11:00:00+00:00     13
104  2024-10-22T12:00:00+00:00     15

[105 rows x 2 columns]

In [4]:
start_lat = 43.6568
start_lng = -79.4512
end_lat = 39.9526
end_lng = -75.1652

In [5]:
import requests
import datetime

# Define the Mapbox API endpoint and your access token
MAPBOX_ACCESS_TOKEN = 'pk.eyJ1IjoiZmlyc3RpbndlYXRoZXIiLCJhIjoiY20ydjlpY215MDl4NjJqb2l1ZjBwbXo2NSJ9.vt3Xx08GULpig9DYBb5o0A'
start_point = [start_lng, start_lat]  # Example: Start coordinate (lon, lat)
end_point = [end_lng, end_lat]    # Example: End coordinate (lon, lat)

# Request the route using the Mapbox Directions API
url = f"https://api.mapbox.com/directions/v5/mapbox/driving/{start_point[0]},{start_point[1]};{end_point[0]},{end_point[1]}"
params = {
    'geometries': 'geojson',
    'overview': 'full',
    'steps': 'true',
    'access_token': MAPBOX_ACCESS_TOKEN
}
response = requests.get(url, params=params)
data = response.json()

# Parse the response to get duration and coordinates
route = data['routes'][0]
total_duration = route['duration']  # Total duration in seconds
interval = 1800  # 30 minutes in seconds

# Extract waypoints at 30-minute intervals
coordinates_every_30_minutes = []
current_time = 0

for leg in route['legs']:
    for step in leg['steps']:
        
        step_duration = step['duration']
        step_coords = step['geometry']['coordinates']
        
        for i, coord in enumerate(step_coords):
            # Calculate cumulative travel time to this point
            cumulative_time = current_time + (step_duration / len(step_coords)) * i
            
            # If the cumulative time is close to the next interval, add the coordinate
            if cumulative_time >= interval * len(coordinates_every_30_minutes):
                coordinates_every_30_minutes.append({
                    'lat': coord[1],
                    'lon': coord[0],
                    'time': str(datetime.timedelta(seconds=cumulative_time))
                })
        
        current_time += step_duration  # Update time for the next step

# Display the coordinates with timestamps every 30 minutes
for point in coordinates_every_30_minutes:
    print(f"Lat: {point['lat']}, Lon: {point['lon']}, Time: {point['time']}")

Lat: 43.656583, Lon: -79.451111, Time: 0:00:00
Lat: 43.497766, Lon: -79.673875, Time: 0:30:03.338106
Lat: 43.22386, Lon: -79.665253, Time: 1:00:04.982437
Lat: 43.146982, Lon: -79.103275, Time: 1:30:00.338387
Lat: 42.997189, Lon: -78.807809, Time: 2:00:01.041259
Lat: 43.018935, Lon: -78.181262, Time: 2:30:01.244459
Lat: 43.014307, Lon: -77.471497, Time: 3:00:00.680800
Lat: 42.996027, Lon: -76.737292, Time: 3:30:00.117141
Lat: 43.105944, Lon: -76.284268, Time: 4:00:00.962200
Lat: 42.802158, Lon: -76.122229, Time: 4:30:03.515167
Lat: 42.32069, Lon: -75.970943, Time: 5:00:02.922383
Lat: 41.958916, Lon: -75.737123, Time: 5:30:01.298730
Lat: 41.610587, Lon: -75.6453, Time: 6:00:02.803000
Lat: 41.31543, Lon: -75.744052, Time: 6:30:01.012095
Lat: 40.878154, Lon: -75.65743, Time: 7:00:01.608467
Lat: 40.494877, Lon: -75.479687, Time: 7:30:02.204840
Lat: 40.069397, Lon: -75.27988, Time: 8:00:00.654642

In [77]:
route
route_df = pd.json_normalize(route, record_path=['legs', 'steps'])

In [80]:
a = route['legs']

In [81]:
b = pd.json_normalize(a)

In [82]:
b

,notifications,via_waypoints,admins,weight,duration,steps,distance,summary
0,"[{'details': {'actual_value': 'CA,US', 'messag...",[],"[{'iso_3166_1_alpha3': 'CAN', 'iso_3166_1': 'C...",31092.727,30484.287,"[{'intersections': [{'entry': [True], 'bearing...",796777.938,"I 90 East, I 81 South"

In [86]:
for leg in route['legs']:
    print(1)

1

In [89]:
coordinates_every_30_minutes

[{'lat': 43.656583, 'lon': -79.451111, 'time': '0:00:00'},
 {'lat': 43.497766, 'lon': -79.673875, 'time': '0:30:03.338106'},
 {'lat': 43.22386, 'lon': -79.665253, 'time': '1:00:04.982437'},
 {'lat': 43.146982, 'lon': -79.103275, 'time': '1:30:00.338387'},
 {'lat': 42.997189, 'lon': -78.807809, 'time': '2:00:01.041259'},
 {'lat': 43.018935, 'lon': -78.181262, 'time': '2:30:01.197123'},
 {'lat': 43.014307, 'lon': -77.471497, 'time': '3:00:00.486800'},
 {'lat': 42.996473, 'lon': -76.735788, 'time': '3:30:04.536502'},
 {'lat': 43.105944, 'lon': -76.284268, 'time': '4:00:00.477200'},
 {'lat': 42.802158, 'lon': -76.122229, 'time': '4:30:03.064744'},
 {'lat': 42.32069, 'lon': -75.970943, 'time': '5:00:02.522472'},
 {'lat': 41.958916, 'lon': -75.737123, 'time': '5:30:00.926730'},
 {'lat': 41.610587, 'lon': -75.6453, 'time': '6:00:02.431000'},
 {'lat': 41.31543, 'lon': -75.744052, 'time': '6:30:00.640095'},
 {'lat': 40.878154, 'lon': -75.65743, 'time': '7:00:01.236467'},
 {'lat': 40.494877, 'lon': -75.479687, 'time': '7:30:01.832840'},
 {'lat': 40.069397, 'lon': -75.27988, 'time': '8:00:00.282642'}]

In [90]:
c = pd.DataFrame(coordinates_every_30_minutes)
c

          lat        lon            time
0   43.656583 -79.451111         0:00:00
1   43.497766 -79.673875  0:30:03.338106
2   43.223860 -79.665253  1:00:04.982437
3   43.146982 -79.103275  1:30:00.338387
4   42.997189 -78.807809  2:00:01.041259
5   43.018935 -78.181262  2:30:01.197123
6   43.014307 -77.471497  3:00:00.486800
7   42.996473 -76.735788  3:30:04.536502
8   43.105944 -76.284268  4:00:00.477200
9   42.802158 -76.122229  4:30:03.064744
10  42.320690 -75.970943  5:00:02.522472
11  41.958916 -75.737123  5:30:00.926730
12  41.610587 -75.645300  6:00:02.431000
13  41.315430 -75.744052  6:30:00.640095
14  40.878154 -75.657430  7:00:01.236467
15  40.494877 -75.479687  7:30:01.832840
16  40.069397 -75.279880  8:00:00.282642

In [ ]:
https://api.mapbox.com/directions/v5/mapbox/driving/43,-73,45,-76

In [13]:
#import datetime
from datetime import datetime, timedelta

In [17]:
selected_departure_time = datetime.now()
simplified_today = selected_departure_time.replace(minute=0, second=0, microsecond=0)

simplified_today = (simplified_today, "%Y-%m-%d %H:%M")
a = selected_departure_time + timedelta(hours=3)
a

datetime.datetime(2024, 11, 2, 1, 18, 47, 19070)

In [18]:
print(a)

2024-11-02 01:18:47.019070

In [2]:
### Open Weather API

In [21]:
r = requests.get('https://httpbin.org/user-agent')
useragent = json.loads(r.text)['user-agent']
headers = {'User-agent': useragent}

API_key = '6e4a8336ddea630116c32b827c5226be'

from datetime import datetime, timezone

date = "2024-11-09 12:00:00"
date_object = datetime.strptime(date, "%Y-%m-%d %H:%M:%S").replace(tzinfo=timezone.utc)
unix_timestamp = int(date_object.timestamp())
print("Unix timestamp:", unix_timestamp)

Unix timestamp: 1731153600

In [22]:
url = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={34}&lon={-77}&dt={unix_timestamp}&appid={API_key}'

In [23]:
url

'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat=34&lon=-77&dt=1731153600&appid=6e4a8336ddea630116c32b827c5226be'

In [24]:
r = requests.get(url, headers = headers)
myjson = json.loads(r.text)

In [25]:
myjson

{'lat': 34,
 'lon': -77,
 'timezone': 'Etc/GMT+5',
 'timezone_offset': -18000,
 'data': [{'dt': 1731153600,
   'sunrise': 1731152122,
   'sunset': 1731190108,
   'temp': 294.75,
   'feels_like': 294.92,
   'pressure': 1020,
   'humidity': 75,
   'dew_point': 290.13,
   'uvi': 0,
   'clouds': 33,
   'visibility': 10000,
   'wind_speed': 11.94,
   'wind_deg': 40,
   'wind_gust': 11.92,
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}]}]}

In [31]:
df = pd.json_normalize(myjson['data'])
df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather
0,1731153600,1731152122,1731190108,294.75,294.92,1020,75,290.13,0,33,10000,11.94,40,11.92,"[{'id': 802, 'main': 'Clouds', 'description': ..."

In [32]:
df['weather']

0    [{'id': 802, 'main': 'Clouds', 'description': ...
Name: weather, dtype: object

In [61]:
url = f'https://api.openweathermap.org/data/3.0/onecall?lat=42.44&lon=-71.04&exclude=current,minutely,daily&appid={API_key}'

In [62]:
r = requests.get(url, headers = headers)
myjson = json.loads(r.text)

In [64]:
df = pd.json_normalize(myjson['hourly'])
df

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather,pop,rain.1h
0,1731211200,275.83,274.17,1029,54,268.10,0.00,0,10000,1.71,326,2.95,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
1,1731214800,276.30,276.30,1029,50,267.60,0.00,0,10000,1.21,317,1.90,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
2,1731218400,276.69,276.69,1029,48,267.44,0.00,0,10000,0.94,283,1.32,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
3,1731222000,276.99,276.99,1029,45,266.94,0.00,1,10000,1.24,264,1.88,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
4,1731225600,277.10,276.03,1028,43,266.50,0.00,2,10000,1.41,245,2.57,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
5,1731229200,277.23,275.50,1028,42,265.42,0.00,2,10000,1.95,245,3.67,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
6,1731232800,277.02,275.11,1027,42,265.26,0.00,2,10000,2.09,236,4.89,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
7,1731236400,276.80,274.86,1027,41,264.87,0.00,4,10000,2.08,240,5.41,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
8,1731240000,276.94,274.64,1027,39,264.27,0.00,7,10000,2.47,232,6.66,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
9,1731243600,278.25,275.77,1027,35,264.09,0.31,45,10000,3.01,230,7.82,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.0,NaN
10,1731247200,280.03,277.60,1026,32,264.52,0.88,62,10000,3.50,230,7.82,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
11,1731250800,281.51,279.09,1025,30,264.97,1.38,75,10000,4.09,233,8.23,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
12,1731254400,283.48,281.33,1024,29,266.20,1.96,81,10000,4.70,236,8.76,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
13,1731258000,285.14,283.15,1022,29,267.60,2.01,81,10000,4.77,235,8.38,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
14,1731261600,286.06,284.16,1021,29,268.65,1.67,85,10000,4.84,234,8.35,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
15,1731265200,287.07,285.25,1020,28,268.78,1.11,97,10000,4.25,235,7.85,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
16,1731268800,286.99,285.21,1019,30,269.56,0.50,99,10000,3.80,229,8.95,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
17,1731272400,286.16,284.43,1018,35,271.23,0.13,99,10000,4.00,226,9.14,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
18,1731276000,285.63,283.87,1018,36,271.02,0.00,100,10000,4.63,226,11.02,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
19,1731279600,285.00,283.39,1017,44,273.10,0.00,100,10000,4.65,223,12.14,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
20,1731283200,284.52,283.10,1017,53,275.24,0.00,100,10000,4.75,226,12.59,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
21,1731286800,284.53,283.21,1016,57,276.25,0.00,100,10000,4.70,227,12.93,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
22,1731290400,285.06,283.85,1015,59,277.28,0.00,100,10000,4.14,226,11.88,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
23,1731294000,285.18,284.11,1014,64,278.65,0.00,100,10000,4.15,223,11.42,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
24,1731297600,284.25,283.53,1013,81,281.15,0.00,100,10000,3.57,218,11.07,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.0,0.54
25,1731301200,284.51,283.95,1011,86,282.34,0.00,100,10000,4.05,204,13.07,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.0,0.24
26,1731304800,285.04,284.50,1010,85,282.65,0.00,100,10000,4.51,211,13.64,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.8,NaN
27,1731308400,285.56,285.08,1009,85,283.04,0.00,100,10000,5.14,223,14.63,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
28,1731312000,285.60,285.22,1007,89,283.86,0.00,100,10000,4.86,219,13.30,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.2,0.11
29,1731315600,286.13,285.81,1006,89,284.34,0.00,100,10000,4.81,217,13.09,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
30,1731319200,286.24,285.90,1006,88,284.39,0.00,100,10000,4.86,230,13.42,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
31,1731322800,286.28,285.97,1005,89,284.48,0.00,100,10000,4.60,225,12.86,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
32,1731326400,286.43,286.11,1005,88,284.53,0.00,100,10000,4.86,236,12.63,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
33,1731330000,286.67,286.27,1005,84,284.03,0.15,100,10000,4.71,242,12.13,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
34,1731333600,287.47,286.97,1004,77,283.46,0.63,100,10000,5.59,249,12.07,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
35,1731337200,287.88,287.24,1004,70,282.51,1.51,100,10000,5.76,258,12.20,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
36,1731340800,288.57,287.84,1004,64,281.86,1.87,100,10000,5.57,260,11.37,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
37,1731344400,289.43,288.63,1003,58,281.28,1.91,98,10000,4.89,258,10.92,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
38,1731348000,291.13,290.13,1002,44,278.85,1.88,87,10000,5.18,270,10.71,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
39,1731351600,291.15,290.10,1003,42,278.18,1.21,12,10000,5.06,287,9.73,"[{'id': 801, 'main': 'Clouds', 'description': ...",0.0,NaN
40,1731355200,289.94,288.88,1003,46,278.24,0.54,10,10000,4.94,284,10.15,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
41,1731358800,288.36,287.29,1003,52,278.48,0.13,6,10000,4.79,274,10.08,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
42,1731362400,287.16,286.03,1004,54,278.16,0.00,5,10000,4.28,269,9.85,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
43,1731366000,286.51,285.36,1004,56,277.97,0.00,4,10000,3.85,256,9.23,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
44,1731369600,286.09,284.93,1004,57,277.90,0.00,3,10000,3.78,249,10.22,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
45,1731373200,285.77,284.60,1004,58,277.83,0.00,0,10000,3.99,250,10.70,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
46,1731376800,285.13,283.98,1004,61,277.98,0.00,0,10000,4.07,237,10.84,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
47,1731380400,284.75,283.66,1003,65,278.37,0.00,0,10000,4.11,232,11.28,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN

In [65]:
df['dt'] = df['dt'].apply(lambda x: datetime.fromtimestamp(x, tz=timezone.utc))

In [66]:
df

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather,pop,rain.1h
0,2024-11-10 04:00:00+00:00,275.83,274.17,1029,54,268.10,0.00,0,10000,1.71,326,2.95,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
1,2024-11-10 05:00:00+00:00,276.30,276.30,1029,50,267.60,0.00,0,10000,1.21,317,1.90,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
2,2024-11-10 06:00:00+00:00,276.69,276.69,1029,48,267.44,0.00,0,10000,0.94,283,1.32,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
3,2024-11-10 07:00:00+00:00,276.99,276.99,1029,45,266.94,0.00,1,10000,1.24,264,1.88,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
4,2024-11-10 08:00:00+00:00,277.10,276.03,1028,43,266.50,0.00,2,10000,1.41,245,2.57,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
5,2024-11-10 09:00:00+00:00,277.23,275.50,1028,42,265.42,0.00,2,10000,1.95,245,3.67,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
6,2024-11-10 10:00:00+00:00,277.02,275.11,1027,42,265.26,0.00,2,10000,2.09,236,4.89,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
7,2024-11-10 11:00:00+00:00,276.80,274.86,1027,41,264.87,0.00,4,10000,2.08,240,5.41,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
8,2024-11-10 12:00:00+00:00,276.94,274.64,1027,39,264.27,0.00,7,10000,2.47,232,6.66,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
9,2024-11-10 13:00:00+00:00,278.25,275.77,1027,35,264.09,0.31,45,10000,3.01,230,7.82,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.0,NaN
10,2024-11-10 14:00:00+00:00,280.03,277.60,1026,32,264.52,0.88,62,10000,3.50,230,7.82,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
11,2024-11-10 15:00:00+00:00,281.51,279.09,1025,30,264.97,1.38,75,10000,4.09,233,8.23,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
12,2024-11-10 16:00:00+00:00,283.48,281.33,1024,29,266.20,1.96,81,10000,4.70,236,8.76,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
13,2024-11-10 17:00:00+00:00,285.14,283.15,1022,29,267.60,2.01,81,10000,4.77,235,8.38,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.0,NaN
14,2024-11-10 18:00:00+00:00,286.06,284.16,1021,29,268.65,1.67,85,10000,4.84,234,8.35,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
15,2024-11-10 19:00:00+00:00,287.07,285.25,1020,28,268.78,1.11,97,10000,4.25,235,7.85,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
16,2024-11-10 20:00:00+00:00,286.99,285.21,1019,30,269.56,0.50,99,10000,3.80,229,8.95,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
17,2024-11-10 21:00:00+00:00,286.16,284.43,1018,35,271.23,0.13,99,10000,4.00,226,9.14,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
18,2024-11-10 22:00:00+00:00,285.63,283.87,1018,36,271.02,0.00,100,10000,4.63,226,11.02,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
19,2024-11-10 23:00:00+00:00,285.00,283.39,1017,44,273.10,0.00,100,10000,4.65,223,12.14,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
20,2024-11-11 00:00:00+00:00,284.52,283.10,1017,53,275.24,0.00,100,10000,4.75,226,12.59,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
21,2024-11-11 01:00:00+00:00,284.53,283.21,1016,57,276.25,0.00,100,10000,4.70,227,12.93,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
22,2024-11-11 02:00:00+00:00,285.06,283.85,1015,59,277.28,0.00,100,10000,4.14,226,11.88,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
23,2024-11-11 03:00:00+00:00,285.18,284.11,1014,64,278.65,0.00,100,10000,4.15,223,11.42,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
24,2024-11-11 04:00:00+00:00,284.25,283.53,1013,81,281.15,0.00,100,10000,3.57,218,11.07,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.0,0.54
25,2024-11-11 05:00:00+00:00,284.51,283.95,1011,86,282.34,0.00,100,10000,4.05,204,13.07,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.0,0.24
26,2024-11-11 06:00:00+00:00,285.04,284.50,1010,85,282.65,0.00,100,10000,4.51,211,13.64,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.8,NaN
27,2024-11-11 07:00:00+00:00,285.56,285.08,1009,85,283.04,0.00,100,10000,5.14,223,14.63,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
28,2024-11-11 08:00:00+00:00,285.60,285.22,1007,89,283.86,0.00,100,10000,4.86,219,13.30,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.2,0.11
29,2024-11-11 09:00:00+00:00,286.13,285.81,1006,89,284.34,0.00,100,10000,4.81,217,13.09,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
30,2024-11-11 10:00:00+00:00,286.24,285.90,1006,88,284.39,0.00,100,10000,4.86,230,13.42,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
31,2024-11-11 11:00:00+00:00,286.28,285.97,1005,89,284.48,0.00,100,10000,4.60,225,12.86,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
32,2024-11-11 12:00:00+00:00,286.43,286.11,1005,88,284.53,0.00,100,10000,4.86,236,12.63,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
33,2024-11-11 13:00:00+00:00,286.67,286.27,1005,84,284.03,0.15,100,10000,4.71,242,12.13,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
34,2024-11-11 14:00:00+00:00,287.47,286.97,1004,77,283.46,0.63,100,10000,5.59,249,12.07,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
35,2024-11-11 15:00:00+00:00,287.88,287.24,1004,70,282.51,1.51,100,10000,5.76,258,12.20,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
36,2024-11-11 16:00:00+00:00,288.57,287.84,1004,64,281.86,1.87,100,10000,5.57,260,11.37,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
37,2024-11-11 17:00:00+00:00,289.43,288.63,1003,58,281.28,1.91,98,10000,4.89,258,10.92,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
38,2024-11-11 18:00:00+00:00,291.13,290.13,1002,44,278.85,1.88,87,10000,5.18,270,10.71,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.0,NaN
39,2024-11-11 19:00:00+00:00,291.15,290.10,1003,42,278.18,1.21,12,10000,5.06,287,9.73,"[{'id': 801, 'main': 'Clouds', 'description': ...",0.0,NaN
40,2024-11-11 20:00:00+00:00,289.94,288.88,1003,46,278.24,0.54,10,10000,4.94,284,10.15,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
41,2024-11-11 21:00:00+00:00,288.36,287.29,1003,52,278.48,0.13,6,10000,4.79,274,10.08,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
42,2024-11-11 22:00:00+00:00,287.16,286.03,1004,54,278.16,0.00,5,10000,4.28,269,9.85,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
43,2024-11-11 23:00:00+00:00,286.51,285.36,1004,56,277.97,0.00,4,10000,3.85,256,9.23,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
44,2024-11-12 00:00:00+00:00,286.09,284.93,1004,57,277.90,0.00,3,10000,3.78,249,10.22,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
45,2024-11-12 01:00:00+00:00,285.77,284.60,1004,58,277.83,0.00,0,10000,3.99,250,10.70,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
46,2024-11-12 02:00:00+00:00,285.13,283.98,1004,61,277.98,0.00,0,10000,4.07,237,10.84,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN
47,2024-11-12 03:00:00+00:00,284.75,283.66,1003,65,278.37,0.00,0,10000,4.11,232,11.28,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0,NaN